Repository kiabusiness2025/verifactu-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, prettier --write

fix: correct AccessibleSelect usage with options prop
  apps/app/app/dashboard/admin/reports/page.tsx
  apps/app/app/dashboard/admin/tenants/page.tsx
  apps/app/app/dashboard/admin/users/page.tsx
Due: eslint --fix --max-warnings=0, prettier --write

fix: add required label prop to AccessibleInput in tenants page
  apps/app/app/dashboard/admin/tenants/page.tsx
Due: eslint --fix --max-warnings=0, prettier --write

feat: complete alert migration and fix GitHub workflows
  .github/workflows/auto-fix-and-deploy.yml
  .github/workflows/ci-cd.yml
  .github/workflows/deploy.yml
  apps/app/app/dashboard/admin/companies/[id]/page.tsx
  apps/app/app/dashboard/admin/companies/new/page.tsx
  apps/app/app/dashboard/admin/emails/page.tsx
  apps/app/app/dashboard/admin/empresas/page.tsx
  apps/app/app/dashboard/admin/import/page.tsx
  apps/app/app/dashboard/admin/users/[id]/page.tsx
  apps/app/app/dashboard/settings/page.tsx
Due: eslint --fix --max-warnings=0, prettier --write

feat: implement client integrations and eInforma company search
  apps/app/app/api/einforma/search/route.ts
  apps/app/app/api/integrations/gdrive/auth/route.ts
  apps/app/app/api/integrations/gdrive/callback/route.ts
  apps/app/app/api/integrations/gmail/auth/route.ts
  apps/app/app/api/integrations/gmail/callback/route.ts
  apps/app/app/api/integrations/microsoft/auth/route.ts
  apps/app/app/api/integrations/microsoft/callback/route.ts
  apps/app/app/api/integrations/onedrive/auth/route.ts
  apps/app/app/api/integrations/onedrive/callback/route.ts
  apps/app/app/dashboard/admin/companies/[id]/page.tsx
  apps/app/app/dashboard/admin/companies/new/page.tsx
  apps/app/app/dashboard/admin/empresas/page.tsx
  apps/app/app/dashboard/admin/import/page.tsx
  apps/app/app/dashboard/admin/users/[id]/page.tsx
  apps/app/app/dashboard/clients/page.tsx
  apps/app/app/dashboard/settings/page.tsx
  apps/app/components/companies/EInformaSearch.tsx
Due: eslint --fix --max-warnings=0, prettier --write

feat: add Google Calendar OAuth2 integration
  apps/app/app/api/integrations/gcalendar/auth/route.ts
  apps/app/app/api/integrations/gcalendar/callback/route.ts
  apps/app/app/api/integrations/gcalendar/events/route.ts
  apps/app/app/dashboard/settings/page.tsx
Due: eslint --fix --max-warnings=0, prettier --write

feat(admin): implement RBAC middleware with granular access control
  apps/admin/README.md
  apps/admin/app/api/admin/companies/[companyId]/route.ts
  apps/admin/app/api/admin/companies/route.ts
  apps/admin/app/api/admin/impersonation/start/route.ts
  apps/admin/app/api/admin/impersonation/stop/route.ts
  apps/admin/app/api/admin/me/route.ts
  apps/admin/app/api/admin/users/[userId]/route.ts
  apps/admin/app/api/admin/users/route.ts
  apps/admin/app/audit/page.tsx
  apps/admin/app/companies/page.tsx
  apps/admin/app/dashboard/layout.tsx
  apps/admin/app/overview/page.tsx
  apps/admin/app/page.tsx
  apps/admin/app/users/page.tsx
  apps/admin/docs/MIDDLEWARE_RBAC.md
  apps/admin/docs/MVP_IMPLEMENTATION.md
  apps/admin/lib/audit.ts
  apps/admin/lib/cookies.ts
  apps/admin/middleware.ts
  apps/admin/package.json
Due: eslint --fix --max-warnings=0, prettier --write

docs(admin): add comprehensive MVP status document
  apps/admin/docs/STATUS.md
Due: prettier --write

feat(admin): integrate Prisma for database access
  apps/admin/README.md
  apps/admin/app/api/auth/[...nextauth]/route.ts
  apps/admin/docs/PRISMA_INTEGRATION.md
  apps/admin/docs/STATUS.md
  apps/admin/lib/prisma.ts
  apps/admin/package.json
Due: eslint --fix --max-warnings=0, prettier --write

docs(admin): add comprehensive next steps guide
  apps/admin/docs/NEXT_STEPS.md
Due: prettier --write

chore: update email aliases and docs
  apps/app/lib/email/emailService.ts
  apps/landing/app/api/send-lead/route.ts
  apps/landing/app/api/support-ticket/route.ts
  apps/landing/app/legal/privacidad/page.tsx
  apps/landing/app/recursos/contacto/page.tsx
  apps/landing/emails/EmailHeader.tsx
  apps/landing/emails/PasswordChangedEmail.tsx
  apps/landing/emails/README.md
  apps/landing/emails/ResetPasswordEmail.tsx
  apps/landing/emails/TeamInviteEmail.tsx
  apps/landing/emails/VerifyEmail.tsx
  apps/landing/emails/WelcomeEmail.tsx
  apps/landing/lib/email/emailService.ts
  docs/EMAIL_ALIASES_GUIDE.md
  docs/EMAIL_CONFIGURATION.md
  docs/EMAIL_TESTING_GUIDE.md
  docs/GITHUB_COPILOT_GUIDE.md
Due: eslint --fix --max-warnings=0, prettier --write

chore: use pnpm on vercel
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: use pnpm in vercel
  package.json
  vercel.json
Due: prettier --write

fix(landing): use pnpm install/build on vercel
  apps/landing/vercel.json
Due: prettier --write

feat(admin): complete phase 1 - admin panel MVP with Prisma integration
  packages/db/.gitignore
  packages/db/README.md
  packages/db/SETUP_INSTRUCTIONS.md
  packages/db/index.ts
  packages/db/package.json
  packages/db/prisma/schema.prisma
  packages/db/prisma/seed.ts
  packages/db/tsconfig.json
Due: eslint --fix --max-warnings=0, prettier --write

ci: add GitHub Actions workflows for automated build checks and auto-fix
  .github/workflows/auto-fix.yml
  .github/workflows/build-admin.yml
  .github/workflows/typecheck.yml
  apps/admin/app/api/admin/companies/route.ts
  apps/admin/app/api/admin/impersonation/start/route.ts
  apps/admin/app/api/admin/impersonation/stop/route.ts
  apps/admin/app/api/admin/users/route.ts
  apps/admin/app/api/auth/[...nextauth]/route.ts
  apps/admin/docs/NEXT_STEPS.md
  apps/admin/docs/PHASE_1_COMPLETE.md
  apps/admin/docs/PRISMA_INTEGRATION.md
  apps/admin/lib/auth-options.ts
  apps/admin/lib/cookies.ts
  apps/admin/lib/prisma.ts
  apps/admin/package.json
  pnpm-lock.yaml
Due: eslint --fix --max-warnings=0, prettier --write

feat(db): add Phase 2 operations models - webhooks, emails, user blocking
  packages/db/prisma/migrations/20260121130708_/migration.sql
  packages/db/prisma/migrations/20260121131641_bd_1/migration.sql
  packages/db/prisma/migrations/20260121133111_bd_2/migration.sql
  packages/db/prisma/migrations/migration_lock.toml
  packages/db/prisma/schema.prisma
Due: none

feat(admin): implement Phase 2 operations center
  .github/workflows/auto-fix.yml
  apps/admin/app/api/admin/emails/[id]/retry/route.ts
  apps/admin/app/api/admin/emails/[id]/route.ts
  apps/admin/app/api/admin/emails/route.ts
  apps/admin/app/api/admin/operations/summary/route.ts
  apps/admin/app/api/admin/users/[id]/block/route.ts
  apps/admin/app/api/admin/users/[id]/send-email/route.ts
  apps/admin/app/api/admin/users/[id]/unblock/route.ts
  apps/admin/app/api/admin/webhooks/[id]/retry/route.ts
  apps/admin/app/api/admin/webhooks/[id]/route.ts
  apps/admin/app/api/admin/webhooks/route.ts
  apps/admin/app/dashboard/layout.tsx
  apps/admin/app/operations/emails/[id]/page.tsx
  apps/admin/app/operations/emails/page.tsx
  apps/admin/app/operations/page.tsx
  apps/admin/app/operations/webhooks/[id]/page.tsx
  apps/admin/app/operations/webhooks/page.tsx
  apps/admin/app/users/[id]/page.tsx
  apps/admin/lib/auth-options.ts
  apps/admin/middleware.ts
  apps/app/app/api/webhooks/aeat/route.ts
  apps/app/app/api/webhooks/resend/route.ts
  apps/app/app/api/webhooks/stripe/route.ts
  apps/landing/app/lib/home/ui.tsx
  apps/landing/app/page.tsx
  apps/landing/app/recursos/blog/page.tsx
  apps/landing/app/recursos/checklist/page.tsx
  apps/landing/app/recursos/contacto/page.tsx
  apps/landing/app/recursos/guias-y-webinars/page.tsx
  apps/landing/app/verifactu/estado/page.tsx
  apps/landing/app/verifactu/page.tsx
  apps/landing/app/verifactu/que-es/page.tsx
  apps/landing/app/verifactu/soporte/page.tsx
  packages/db/package.json
  pnpm-lock.yaml
  verifactu_bd/verifactu_bd.sqlproj
Due: eslint --fix --max-warnings=0, prettier --write

docs: add Phase 2 operations center documentation
  PHASE_2_OPERATIONS.md
Due: prettier --write

test: add Phase 2 testing scripts
  scripts/README.md
  scripts/test-phase2.sh
Due: prettier --write

docs: add Phase 2 implementation status
  PHASE_2_STATUS.md
Due: prettier --write

feat(phase2): add Gmail API support for email sending
  PHASE_2_GMAIL_INTEGRATION.md
  PHASE_2_OPERATIONS.md
  apps/admin/app/api/admin/emails/[id]/retry/route.ts
  apps/admin/app/api/admin/emails/route.ts
  apps/admin/app/api/admin/users/[id]/send-email/route.ts
  apps/admin/app/operations/emails/[id]/page.tsx
  apps/admin/app/operations/emails/page.tsx
  apps/admin/app/users/[id]/page.tsx
  apps/admin/package.json
  apps/app/app/api/webhooks/resend/route.ts
  packages/db/prisma/migrations/20260121140359_bd_3/migration.sql
  packages/db/prisma/schema.prisma
  pnpm-lock.yaml
  scripts/README.md
Due: eslint --fix --max-warnings=0, prettier --write

docs: add Gmail integration update summary
  PHASE_2_GMAIL_UPDATE.md
Due: prettier --write

feat(admin): enhance Gmail API integration with security hardening
  GMAIL_ENV_SETUP.md
  apps/admin/.env.gmail.example
  apps/admin/app/api/admin/users/[id]/send-email/route.ts
Due: eslint --fix --max-warnings=0, prettier --write

docs: add Gmail implementation executive summary
  GMAIL_IMPLEMENTATION_SUMMARY.md
Due: prettier --write

feat(landing): refresh product, legal, and contact copy
  apps/landing/app/legal/cookies/page.tsx
  apps/landing/app/legal/terminos/page.tsx
  apps/landing/app/politica-de-precios/page.tsx
  apps/landing/app/producto/automatizacion/page.tsx
  apps/landing/app/producto/integraciones/page.tsx
  apps/landing/app/producto/plataforma/page.tsx
  apps/landing/app/producto/resumen/page.tsx
  apps/landing/app/recursos/contacto/page.tsx
Due: eslint --fix --max-warnings=0, prettier --write

feat: implement Scenario A - unified PostgreSQL auth (Firebase + Google Workspace)
  CLOUD_SQL_SETUP.md
  CLOUD_SQL_SETUP_INSTRUCTIONS.md
  GMAIL_ENV_SETUP.md
  GMAIL_IMPLEMENTATION_SUMMARY.md
  PHASE_2_GMAIL_INTEGRATION.md
  PHASE_2_GMAIL_UPDATE.md
  SCENARIO_A_IMPLEMENTATION.md
  TESTING_AUTH_FLOWS.md
  apps/admin/app/api/admin/users/[id]/send-email/route.ts
  apps/admin/app/users/[id]/page.tsx
  apps/app/app/api/app/me/route.ts
  apps/app/app/demo/page.tsx
  apps/app/app/onboarding/page.tsx
  apps/app/lib/auth/firebase.ts
  apps/app/lib/tenants.ts
  apps/app/package.json
  apps/landing/app/demo/page.tsx
  apps/landing/app/lib/home/ui.tsx
  packages/db/prisma/migrations/20260121154109_add_auth_provider_fields/migration.sql
  packages/db/prisma/schema.prisma
  pnpm-lock.yaml
  scripts/setup-cloud-sql.ps1
Due: eslint --fix --max-warnings=0, prettier --write

docs: add deployment and testing guides for Scenario A
  DEPLOYMENT_GUIDE.md
Due: prettier --write

feat: add Prisma Accelerate configuration and Vercel setup guide
  VERCEL_SCENARIO_A_SETUP.md
  apps/app/app/demo/invoices/page.tsx
  apps/app/components/invoices/InvoiceQR.tsx
  apps/app/src/lib/demo/demoData.ts
  pnpm-lock.yaml
Due: eslint --fix --max-warnings=0, prettier --write

fix: replace img with Next.js Image component in InvoiceQR
  apps/app/app/demo/invoices/page.tsx
  apps/app/components/invoices/InvoiceQR.tsx
  apps/app/src/lib/demo/demoData.ts
  apps/landing/app/lib/home/ui.tsx
  apps/landing/app/page.tsx
Due: eslint --fix --max-warnings=0, prettier --write

fix: resolve dynamic route conflict in admin API
  apps/admin/app/api/admin/users/[id]/route.ts
Due: eslint --fix --max-warnings=0, prettier --write

fix: completely remove [userId] directory that was causing build conflict
  apps/admin/app/api/admin/users/[userId]/route.ts
  apps/landing/app/lib/home/ui.tsx
Due: eslint --fix --max-warnings=0, prettier --write

fix: add @verifactu/db to transpilePackages in apps/app
  apps/app/next.config.mjs
Due: none

fix: escape arrow operators in JSX text
  apps/landing/app/demo/page.tsx
Due: eslint --fix --max-warnings=0, prettier --write

fix(ui): add barrel exports for shadcn/ui compatibility
  apps/landing/app/api/dashboard-redirect/route.ts
  packages/ui/components/badge.ts
  packages/ui/components/button.ts
  packages/ui/components/card.ts
  packages/ui/components/dialog.tsx
  packages/ui/components/input.ts
  packages/ui/components/label.tsx
  packages/ui/components/select.tsx
  packages/ui/components/table.ts
  packages/ui/components/textarea.tsx
  packages/ui/index.ts
  packages/ui/package.json
Due: eslint --fix --max-warnings=0, prettier --write

fix(ui): rename card and table to tsx for JSX
  packages/ui/components/Card.tsx
  packages/ui/components/Table.tsx
  packages/ui/components/card.ts
  packages/ui/components/table.ts
Due: eslint --fix --max-warnings=0, prettier --write

fix(ui): move card/table subcomponents inline to avoid case-sensitivity
  packages/ui/components/Card.tsx
  packages/ui/components/Table.tsx
  packages/ui/index.ts
Due: eslint --fix --max-warnings=0, prettier --write

fix(ui): rename index.ts to index.tsx for JSX inline exports
  packages/ui/index.ts
  packages/ui/index.tsx
  packages/ui/package.json
Due: eslint --fix --max-warnings=0, prettier --write

fix(ui): remove Card and Table exports - files were deleted
  apps/landing/app/demo/page.tsx
  apps/landing/app/lib/home/ui.tsx
  packages/ui/index.tsx
Due: eslint --fix --max-warnings=0, prettier --write

fix(landing): responsive hero mock layout
  apps/landing/app/lib/home/ui.tsx
Due: eslint --fix --max-warnings=0, prettier --write

Path conditions:
  eslint --fix --max-warnings=0: any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,md,yaml,yml})
