Repository kiabusiness2025/verifactu-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": [
    "eslint --fix --max-warnings=0",
    "prettier --write"
  ],
  "*.{json,md,yaml,yml}": [
    "prettier --write"
  ]
}

feat(sdk): paquete @verifactu/sdk para Isaak Platform API (D2)
  packages/sdk/.npmignore
  packages/sdk/CHANGELOG.md
  packages/sdk/README.md
  packages/sdk/__tests__/client.test.ts
  packages/sdk/__tests__/retry.test.ts
  packages/sdk/__tests__/webhooks.test.ts
  packages/sdk/jest.config.cjs
  packages/sdk/package.json
  packages/sdk/src/auth.ts
  packages/sdk/src/client.ts
  packages/sdk/src/errors.ts
  packages/sdk/src/index.ts
  packages/sdk/src/resources/companies.ts
  packages/sdk/src/resources/invoices.ts
  packages/sdk/src/resources/keys.ts
  packages/sdk/src/retry.ts
  packages/sdk/src/types.ts
  packages/sdk/src/webhooks.ts
  packages/sdk/tsconfig.json
  packages/sdk/tsup.config.ts
  pnpm-lock.yaml
Due: eslint --fix --max-warnings=0, prettier --write

chore: ignorar .claude/ (worktrees efímeros + settings locales) (#143)
  .gitignore
Due: none

fix(webhooks): claim atómico CAS + preservar deliveries al borrar endpoint
  apps/isaak/app/lib/__tests__/webhooks/dispatch.test.ts
  apps/isaak/app/lib/webhooks/dispatch.ts
  packages/db/prisma/migrations/20260609000000_isaak_webhook_deliveries/migration.sql
  packages/db/prisma/schema.prisma
Due: eslint --fix --max-warnings=0, prettier --write

feat(sdk): @verifactu/sdk skeleton para la Isaak Platform API (D2) (#145)
  packages/sdk/.npmignore
  packages/sdk/CHANGELOG.md
  packages/sdk/README.md
  packages/sdk/__tests__/client.test.ts
  packages/sdk/__tests__/retry.test.ts
  packages/sdk/__tests__/webhooks.test.ts
  packages/sdk/jest.config.cjs
  packages/sdk/package.json
  packages/sdk/src/auth.ts
  packages/sdk/src/client.ts
  packages/sdk/src/errors.ts
  packages/sdk/src/index.ts
  packages/sdk/src/resources/companies.ts
  packages/sdk/src/resources/invoices.ts
  packages/sdk/src/resources/keys.ts
  packages/sdk/src/retry.ts
  packages/sdk/src/types.ts
  packages/sdk/src/webhooks.ts
  packages/sdk/tsconfig.json
  packages/sdk/tsup.config.ts
  pnpm-lock.yaml
Due: eslint --fix --max-warnings=0, prettier --write

chore(hygiene): limpiar root package.json + borrar .bak files olvidados
  apps/api/babel.config.js.bak
  apps/app/components/auth/LoginForm.tsx.bak
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat(isaak): sector LLM tools for software sectorial (HotelGest/Loyverse/Revo)
  apps/isaak/app/api/chat/route.ts
  apps/isaak/app/api/chat/stream/route.ts
  apps/isaak/app/lib/__tests__/isaak-tools-registry.test.ts
  apps/isaak/app/lib/isaak-intent-classifier.ts
  apps/isaak/app/lib/isaak-tools-registry.ts
  apps/isaak/app/lib/sector-tools.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat(isaak): PDF extractor para manuales AEAT en corpus RAG
  apps/isaak/app/api/cron/aeat-corpus-reingest/route.ts
  apps/isaak/app/lib/__tests__/aeat-corpus-extractors.test.ts
  apps/isaak/app/lib/aeat-corpus-extractors.ts
  apps/isaak/package.json
  pnpm-lock.yaml
Due: eslint --fix --max-warnings=0, prettier --write

docs(product): Plan de Lanzamiento Isaak V1 — Asistente Fiscal para Holded
  docs/product/ISAAK_LAUNCH_V1_2026-05-28.md
Due: prettier --write

feat(isaak): D1 webhook emitter con HMAC, reintentos y dead-letter
  apps/isaak/app/api/cron/webhook-retry/route.ts
  apps/isaak/app/lib/__tests__/isaak-webhook-emitter.test.ts
  apps/isaak/app/lib/isaak-webhook-emitter.ts
  apps/isaak/vercel.json
  packages/db/prisma/migrations/20260609000000_isaak_webhook_deliveries/migration.sql
  packages/db/prisma/schema.prisma
Due: eslint --fix --max-warnings=0, prettier --write

feat(isaak): Inmovilla + Nubimed ERP clients + wire webhook events
  apps/isaak/app/lib/erp-client-factory.ts
  apps/isaak/app/lib/inmovilla-erp-client.ts
  apps/isaak/app/lib/isaak-tools-registry.ts
  apps/isaak/app/lib/nubimed-erp-client.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat(isaak): webhook tax_return.submitted en submit routes + sectorConnected en chat context
  apps/isaak/app/api/isaak/modelos/111/submit/route.ts
  apps/isaak/app/api/isaak/modelos/115/submit/route.ts
  apps/isaak/app/api/isaak/modelos/130/submit/route.ts
  apps/isaak/app/api/isaak/modelos/180/submit/route.ts
  apps/isaak/app/api/isaak/modelos/190/submit/route.ts
  apps/isaak/app/api/isaak/modelos/303/submit/route.ts
  apps/isaak/app/api/isaak/modelos/347/submit/route.ts
  apps/isaak/app/api/isaak/modelos/349/submit/route.ts
  apps/isaak/app/lib/isaak-chat-context.ts
  apps/isaak/app/lib/isaak-webhook-emitter.ts
  apps/isaak/tests/intelligence/golden/tool-use.test.ts
  docs/engineering/ISAAK_MASTER_PLAN.md
Due: eslint --fix --max-warnings=0, prettier --write

fix(isaak): desbloquear build Vercel — sectorConnected required + tipos pdf-parse
  apps/isaak/types/pdf-parse.d.ts
Due: eslint --fix --max-warnings=0, prettier --write

fix(isaak): cast payload a Prisma.InputJsonValue en webhook emitter
  apps/isaak/app/lib/isaak-webhook-emitter.ts
Due: eslint --fix --max-warnings=0, prettier --write

fix(isaak): desbloquear build Vercel — pdf-parse types + Prisma cast (#150)
  apps/isaak/app/lib/isaak-webhook-emitter.ts
  apps/isaak/types/pdf-parse.d.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat(isaak): Sprint A V1 — esconder UI no-Holded bajo flag ISAAK_V1_LAUNCH
  apps/isaak/.env.example
  apps/isaak/app/(workspace)/alertas/page.tsx
  apps/isaak/app/(workspace)/components/IsaakBottomNav.tsx
  apps/isaak/app/(workspace)/components/IsaakSidebar.tsx
  apps/isaak/app/(workspace)/integrations/IntegrationsClient.tsx
  apps/isaak/app/lib/feature-flags.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat(isaak): Sprint A V1 — esconder UI no-Holded bajo flag ISAAK_V1_LAUNCH (#148)
  apps/isaak/.env.example
  apps/isaak/app/(workspace)/alertas/page.tsx
  apps/isaak/app/(workspace)/components/IsaakBottomNav.tsx
  apps/isaak/app/(workspace)/components/IsaakSidebar.tsx
  apps/isaak/app/(workspace)/integrations/IntegrationsClient.tsx
  apps/isaak/app/lib/feature-flags.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat(isaak): Sprint B V1 — tools Holded ampliadas + páginas /resumen y /alertas simplificadas
  apps/isaak/app/(workspace)/alertas/page.tsx
  apps/isaak/app/(workspace)/resumen/page.tsx
  apps/isaak/app/lib/__tests__/inspector-aeat-bridge.test.ts
  apps/isaak/app/lib/__tests__/isaak-tools-registry.test.ts
  apps/isaak/app/lib/holded-api.ts
  apps/isaak/app/lib/holded-tools.ts
  apps/isaak/app/lib/inspector-aeat-bridge.ts
  apps/isaak/app/lib/isaak-sub-agents.ts
  apps/isaak/app/lib/isaak-tools-registry.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat(isaak): Sprint B V1 — tools Holded ampliadas + páginas /resumen y /alertas (#149)
  apps/isaak/app/(workspace)/alertas/page.tsx
  apps/isaak/app/(workspace)/resumen/page.tsx
  apps/isaak/app/lib/__tests__/inspector-aeat-bridge.test.ts
  apps/isaak/app/lib/__tests__/isaak-tools-registry.test.ts
  apps/isaak/app/lib/holded-api.ts
  apps/isaak/app/lib/holded-tools.ts
  apps/isaak/app/lib/inspector-aeat-bridge.ts
  apps/isaak/app/lib/isaak-sub-agents.ts
  apps/isaak/app/lib/isaak-tools-registry.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat(landing+isaak): Sprint C V1 — Hub minimal + landing producto Isaak
  apps/isaak/app/components/IsaakHomeLandingV1.tsx
  apps/isaak/app/page.tsx
  apps/landing/app/components/LandingPublicHubV1.tsx
  apps/landing/app/lib/feature-flags.ts
  apps/landing/app/page.tsx
Due: eslint --fix --max-warnings=0, prettier --write

feat(landing+isaak): Sprint C V1 — Hub minimal + landing producto Isaak (#151)
  apps/isaak/app/components/IsaakHomeLandingV1.tsx
  apps/isaak/app/page.tsx
  apps/landing/app/components/LandingPublicHubV1.tsx
  apps/landing/app/lib/feature-flags.ts
  apps/landing/app/page.tsx
Due: eslint --fix --max-warnings=0, prettier --write

feat(isaak): Sprint C2 V1 — Stripe trial 14d + onboarding copy + plan anual
  apps/isaak/.env.example
  apps/isaak/app/lib/settings.ts
  apps/isaak/app/onboarding/holded/page.tsx
Due: eslint --fix --max-warnings=0, prettier --write

feat(isaak): Sprint C2 V1 — Stripe trial 14d + onboarding copy + plan anual (#152)
  apps/isaak/.env.example
  apps/isaak/app/lib/settings.ts
  apps/isaak/app/onboarding/holded/page.tsx
Due: eslint --fix --max-warnings=0, prettier --write

feat(isaak): integración Holded por API key + centro de ayuda V1
  apps/isaak/app/(workspace)/ayuda/page.tsx
  apps/isaak/app/(workspace)/components/IsaakSidebar.tsx
  apps/isaak/app/(workspace)/integration-holded/page.tsx
Due: eslint --fix --max-warnings=0, prettier --write

feat(isaak): integración Holded por API key + centro de ayuda V1 (#153)
  apps/isaak/app/(workspace)/ayuda/page.tsx
  apps/isaak/app/(workspace)/components/IsaakSidebar.tsx
  apps/isaak/app/(workspace)/integration-holded/page.tsx
Due: eslint --fix --max-warnings=0, prettier --write

ci(isaak): setup completo de golden tests — nightly + script local + docs
  .github/workflows/golden-tests-nightly.yml
  apps/isaak/tests/intelligence/README.md
  package.json
  scripts/run-golden-tests.mjs
Due: prettier --write

ci(isaak): setup golden tests — nightly + script local + docs (#154)
  .github/workflows/golden-tests-nightly.yml
  apps/isaak/tests/intelligence/README.md
  package.json
  scripts/run-golden-tests.mjs
Due: prettier --write

fix(ci): pnpm/action-setup detecta versión desde package.json
  .github/workflows/golden-tests-nightly.yml
Due: prettier --write

fix(ci): pnpm/action-setup detecta versión desde package.json (#155)
  .github/workflows/golden-tests-nightly.yml
Due: prettier --write

ci(golden): añadir step de diagnóstico antes de ejecutar la suite
  .github/workflows/golden-tests-nightly.yml
Due: prettier --write

ci(golden): añadir step de diagnóstico (#156)
  .github/workflows/golden-tests-nightly.yml
Due: prettier --write

ci(golden): fallback de ANTHROPIC_API_KEY_TESTS a ANTHROPIC_API_KEY
  .github/workflows/golden-tests-nightly.yml
Due: prettier --write

ci(golden): output directo a Actions UI + debug Jest env
  .github/workflows/golden-tests-nightly.yml
Due: prettier --write

ci(golden): output directo a Actions UI + debug Jest env (#158)
  .github/workflows/golden-tests-nightly.yml
Due: prettier --write

feat(isaak): inferir cuentas PGC 2007 en mapper Holded → ledger
  apps/isaak/app/lib/__tests__/isaak-ledger-holded-mapper.test.ts
  apps/isaak/app/lib/isaak-ledger-holded-mapper.ts
Due: eslint --fix --max-warnings=0, prettier --write

chore(isaak): eliminar import no usado en cron auto-submit-303
  apps/isaak/app/api/cron/aeat-auto-submit-303/route.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat(isaak): F15 Telegram bot — webhook + vinculación + pipeline IA
  apps/isaak/app/api/isaak/telegram/link/route.ts
  apps/isaak/app/api/telegram/setup/route.ts
  apps/isaak/app/api/telegram/webhook/route.ts
  apps/isaak/app/lib/telegram.ts
  packages/db/prisma/migrations/20260611000000_telegram_f15/migration.sql
  packages/db/prisma/schema.prisma
Due: eslint --fix --max-warnings=0, prettier --write

feat(isaak): C-C cron auto-presentación 303 con veto-window 48h
  apps/isaak/app/api/cron/aeat-auto-submit-303/route.ts
  apps/isaak/app/api/isaak/modelos/303/veto/route.ts
  apps/isaak/vercel.json
  packages/db/prisma/migrations/20260610000000_isaak_auto_submit_303/migration.sql
  packages/db/prisma/schema.prisma
Due: eslint --fix --max-warnings=0, prettier --write

ci(golden): trim defensivo + sanity check Anthropic + detección whitespace
  .github/workflows/golden-tests-nightly.yml
  apps/isaak/tests/intelligence/helpers/run-isaak.ts
Due: eslint --fix --max-warnings=0, prettier --write

ci(golden): trim defensivo + sanity check Anthropic + detección whitespace (#159)
  .github/workflows/golden-tests-nightly.yml
  apps/isaak/tests/intelligence/helpers/run-isaak.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat(isaak): empty state Free → CTA Holded conectado
  apps/isaak/app/(workspace)/components/IsaakChatSection.tsx
  apps/isaak/app/(workspace)/components/IsaakMarkdown.tsx
  apps/isaak/app/lib/isaak-chat-prompts.ts
Due: eslint --fix --max-warnings=0, prettier --write
