Repository kiabusiness2025/verifactu-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, prettier --write

feat(demo): 2 slides por escena — chat luego visual
  apps/holded/app/components/DemoIframeHero.tsx
  apps/holded/public/demo/pipeline-utils.js
Due: eslint --fix --max-warnings=0, prettier --write

fix(demo): chat slide sin esperas ni cortes
  apps/holded/public/demo/pipeline-utils.js
Due: eslint --fix --max-warnings=0, prettier --write

fix(demo): chat slide fluido — sin corte de pregunta ni hueco entre partes
  apps/holded/public/demo/pipeline-utils.js
Due: eslint --fix --max-warnings=0, prettier --write

fix(demo): cache-bust pipeline-utils.js con ?v=3
  apps/holded/public/demo/scene-0-intro.html
  apps/holded/public/demo/scene-1-pyg.html
  apps/holded/public/demo/scene-2-clientes.html
  apps/holded/public/demo/scene-3-facturas.html
  apps/holded/public/demo/scene-4-dashboard.html
  apps/holded/public/demo/scene-5-borrador.html
  apps/holded/public/demo/scene-6-comparativa.html
  apps/holded/public/demo/scene-7-outro.html
Due: none

feat(hero): dual-connector demo panel showing Claude + ChatGPT side by side
  apps/holded/app/components/DualConnectorHero.tsx
  apps/holded/app/conectores/claude/page.tsx
  apps/holded/public/demo/pipeline-utils.js
  apps/holded/public/demo/scene-0-intro.html
  apps/holded/public/demo/scene-1-pyg.html
  apps/holded/public/demo/scene-2-clientes.html
  apps/holded/public/demo/scene-3-facturas.html
  apps/holded/public/demo/scene-4-dashboard.html
  apps/holded/public/demo/scene-5-borrador.html
  apps/holded/public/demo/scene-6-comparativa.html
  apps/holded/public/demo/scene-7-outro.html
Due: eslint --fix --max-warnings=0, prettier --write

feat(hero): single Claude-only demo, desktop demo-above-title layout
  apps/holded/app/components/SingleSceneHero.tsx
  apps/holded/app/conectores/claude/page.tsx
Due: eslint --fix --max-warnings=0, prettier --write

feat(holded): Isaak widget, connector landings redesign, nav/contact fixes
  apps/holded/app/api/communications/contact/route.ts
  apps/holded/app/api/isaak/support/route.ts
  apps/holded/app/components/ConnectorLandingClient.tsx
  apps/holded/app/components/ContactForm.tsx
  apps/holded/app/components/HoldedSiteChrome.tsx
  apps/holded/app/components/IsaakWidget.tsx
  apps/holded/app/conectores/chatgpt/page.tsx
  apps/holded/app/conectores/claude/page.tsx
  apps/holded/app/contacto/page.tsx
  apps/holded/app/globals.css
  apps/holded/app/lib/communications/holded-email-service.ts
  apps/holded/app/lib/communications/holded-email-templates.ts
  apps/holded/app/lib/isaak-support-prompt.ts
  apps/holded/package.json
  packages/utils/isaak/persona.ts
  pnpm-lock.yaml
Due: eslint --fix --max-warnings=0, prettier --write

feat(isaak-widget): avatar real y colores azules corporativos
  apps/holded/app/components/IsaakWidget.tsx
  apps/holded/app/globals.css
  apps/holded/public/isaak-avatar.png
Due: eslint --fix --max-warnings=0, prettier --write

feat(isaak-widget): botón con anillo azul visible + burbuja de sugerencias contextual
  apps/holded/app/components/IsaakWidget.tsx
  apps/holded/app/globals.css
Due: eslint --fix --max-warnings=0, prettier --write

feat(isaak-widget): inline quick-reply chips rotantes en cada respuesta
  apps/holded/app/components/IsaakWidget.tsx
Due: eslint --fix --max-warnings=0, prettier --write

fix(isaak-widget): type error en concat de messages con suggestions
  apps/holded/app/components/IsaakWidget.tsx
Due: eslint --fix --max-warnings=0, prettier --write

feat(holded-home): rehacer landing como Hub de conectores Holded+IA
  apps/holded/app/page.tsx
Due: eslint --fix --max-warnings=0, prettier --write

fix(holded-home): color Claude naranja en lugar de azul
  apps/holded/app/page.tsx
Due: eslint --fix --max-warnings=0, prettier --write

feat(holded): logos reales de Claude y ChatGPT en hub y landings
  apps/holded/app/components/ConnectorLandingClient.tsx
  apps/holded/app/page.tsx
  apps/holded/public/brand/chatgpt-logo.png
  apps/holded/public/brand/claude-logo.svg
Due: eslint --fix --max-warnings=0, prettier --write

docs(isaak): plan exhaustivo de arquitectura por fases
  docs/isaak/ISAAK_ARCHITECTURE.md
  docs/isaak/ISAAK_DATA_MODEL.md
  docs/isaak/ISAAK_PHASE_1_IMPLEMENTATION.md
  docs/isaak/ISAAK_PLATFORM_VISION.md
  docs/isaak/ISAAK_ROADMAP.md
  docs/isaak/ISAAK_SUBSCRIPTION_MODEL.md
  docs/isaak/ISAAK_TOOLS_CATALOG.md
Due: prettier --write

feat(isaak): Fase 1 Semana 1 — endpoint /api/isaak/chat con tool_use loop real
  apps/holded/app/api/isaak/chat/route.ts
  apps/holded/app/lib/holded-tools.ts
  apps/holded/app/lib/isaak-chat-prompt.ts
  apps/holded/app/lib/isaak-quota.ts
  apps/holded/app/lib/isaak-response-formatter.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat(isaak): Semana 2 — shell de app con sidebar y chat full-page
  apps/holded/app/api/isaak/chat/route.ts
  apps/holded/app/components/HoldedSiteChrome.tsx
  apps/holded/app/isaak/chat/[id]/page.tsx
  apps/holded/app/isaak/chat/page.tsx
  apps/holded/app/isaak/components/IsaakChatMain.tsx
  apps/holded/app/isaak/components/IsaakSidebar.tsx
  apps/holded/app/isaak/contactos/page.tsx
  apps/holded/app/isaak/equipo/page.tsx
  apps/holded/app/isaak/gastos/page.tsx
  apps/holded/app/isaak/layout.tsx
  apps/holded/app/isaak/page.tsx
  apps/holded/app/isaak/resumen/page.tsx
  apps/holded/app/isaak/ventas/page.tsx
Due: eslint --fix --max-warnings=0, prettier --write

fix(isaak): reemplazar import cross-app holded-mcp con cliente local
  apps/holded/app/lib/holded-api-client.ts
  apps/holded/app/lib/holded-tools.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat(isaak): migrate workspace sections to apps/isaak with dark sidebar
  apps/holded/app/components/HoldedSiteChrome.tsx
  apps/holded/app/isaak/chat/[id]/page.tsx
  apps/holded/app/isaak/chat/page.tsx
  apps/holded/app/isaak/components/IsaakChatMain.tsx
  apps/holded/app/isaak/components/IsaakSidebar.tsx
  apps/holded/app/isaak/contactos/page.tsx
  apps/holded/app/isaak/equipo/page.tsx
  apps/holded/app/isaak/gastos/page.tsx
  apps/holded/app/isaak/page.tsx
  apps/holded/app/isaak/resumen/page.tsx
  apps/holded/app/isaak/ventas/page.tsx
  apps/isaak/app/(workspace)/chat/[id]/page.tsx
  apps/isaak/app/(workspace)/components/IsaakChatSection.tsx
  apps/isaak/app/(workspace)/components/IsaakChatSectionHydrated.tsx
  apps/isaak/app/(workspace)/components/IsaakSidebar.tsx
  apps/isaak/app/(workspace)/contactos/page.tsx
  apps/isaak/app/(workspace)/equipo/page.tsx
  apps/isaak/app/(workspace)/gastos/page.tsx
  apps/isaak/app/(workspace)/layout.tsx
  apps/isaak/app/(workspace)/resumen/page.tsx
  apps/isaak/app/(workspace)/ventas/page.tsx
  apps/isaak/app/components/IsaakSiteChrome.tsx
  apps/isaak/public/Personalidad/isaak-avatar-2.png
Due: eslint --fix --max-warnings=0, prettier --write

fix(isaak): remove onboarding redirects from /chat — move to workspace group
  apps/isaak/app/(workspace)/chat/page.tsx
  apps/isaak/app/chat/IsaakChatRecovery.tsx
  apps/isaak/app/chat/IsaakWorkspaceClient.tsx
  apps/isaak/app/chat/page.tsx
Due: eslint --fix --max-warnings=0, prettier --write

feat(isaak): decouple frontend from holded domain — self-contained auth flow
  apps/isaak/app/(workspace)/components/IsaakSidebar.tsx
  apps/isaak/app/(workspace)/layout.tsx
  apps/isaak/app/auth/page.tsx
  apps/isaak/app/components/IsaakSiteChrome.tsx
Due: eslint --fix --max-warnings=0, prettier --write

docs(openai): add validated MCP tool hint justifications
  docs/openai-submission/tool-hint-justifications.json
Due: prettier --write

docs: enlaza checklist QA OpenAI y crea historial de requisitos para futuras revisiones
  docs/README.md
  docs/engineering/HOLDED_CONNECTOR_OPENAI_REQUIREMENTS_HISTORY.md
Due: prettier --write

docs: plan de ejecución QA OpenAI Platform y checklist para futuras revisiones
  docs/engineering/HOLDED_CONNECTOR_OPENAI_EXECUTION_PLAN.md
Due: prettier --write

feat(holded): página demo OpenAI review con grabación real en /conectores/chatgpt/openai-review-demo
  apps/holded/app/conectores/chatgpt/openai-review-demo/page.tsx
Due: eslint --fix --max-warnings=0, prettier --write

feat(holded+isaak): privacy/terms legal rewrite, Isaak chat connections & escalation
  apps/holded/app/conectores/chatgpt/openai-review-demo/page.tsx
  apps/holded/app/privacy/page.tsx
  apps/holded/app/terms/page.tsx
  apps/isaak/app/(workspace)/components/IsaakChatSection.tsx
  apps/isaak/app/(workspace)/components/IsaakSidebar.tsx
  apps/isaak/app/(workspace)/layout.tsx
  apps/isaak/app/auth/page.tsx
  apps/isaak/app/components/IsaakLandingClient.tsx
  apps/isaak/app/page.tsx
Due: eslint --fix --max-warnings=0, prettier --write

feat(video): intro & outro HTML animations for Holded ChatGPT demo
  docs/video-assets/README.md
  docs/video-assets/intro.html
  docs/video-assets/outro.html
Due: prettier --write

feat(video): add Sora-generated intro MP4 and generation script
  docs/video-assets/intro-sora.mp4
  docs/video-assets/intro.html
  scripts/generate-intro-sora.mjs
Due: none

feat(chatgpt): branded privacy & terms pages for ChatGPT connector
  apps/holded/app/conectores/chatgpt/privacy/page.tsx
  apps/holded/app/conectores/chatgpt/terms/page.tsx
Due: eslint --fix --max-warnings=0, prettier --write

feat(video): redesign intro — minimalist ChatGPT green palette, slow fusion
  docs/video-assets/intro.html
Due: none

feat(chatgpt): support page, hub link fix, soporte chip, Terms in footer
  apps/holded/app/components/ConnectorLandingClient.tsx
  apps/holded/app/components/HoldedSiteChrome.tsx
  apps/holded/app/components/IsaakWidget.tsx
  apps/holded/app/conectores/chatgpt/soporte/SoporteForm.tsx
  apps/holded/app/conectores/chatgpt/soporte/page.tsx
Due: eslint --fix --max-warnings=0, prettier --write

fix(mcp): Ajuste registro dinámico OAuth para OpenAI (grant_types y token_endpoint_auth_method)
  apps/holded-mcp/src/oauth-routes.ts
Due: eslint --fix --max-warnings=0, prettier --write

fix(api/holded/customers): update route handler signatures for Next.js 15 compatibility
  apps/holded/app/api/holded/customers/[id]/route.ts
Due: eslint --fix --max-warnings=0, prettier --write

fix(holded/customers): await params Promise for Next.js 15 compatibility
  apps/holded/app/api/holded/customers/[id]/route.ts
Due: eslint --fix --max-warnings=0, prettier --write

fix(holded/purchases): await params Promise for Next.js 15 compatibility
  apps/holded/app/api/holded/purchases/[id]/route.ts
Due: eslint --fix --max-warnings=0, prettier --write

fix(holded/purchases): add fallback for optional category field to satisfy Prisma type
  apps/holded/app/api/holded/purchases/route.ts
Due: eslint --fix --max-warnings=0, prettier --write

fix(holded/onboarding): import and use getIsaakOnboardingState in profile completion check
  apps/holded/app/lib/holded-onboarding.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat(holded): harden public connector support and review demo flows
  apps/holded/app/api/support/tickets/route.ts
  apps/holded/app/components/ConnectorLandingClient.tsx
  apps/holded/app/components/ConnectorSupportForm.tsx
  apps/holded/app/components/ConnectorSupportPage.tsx
  apps/holded/app/conectores/chatgpt/openai-review-demo/page.tsx
  apps/holded/app/conectores/chatgpt/page.tsx
  apps/holded/app/conectores/chatgpt/soporte/SoporteForm.tsx
  apps/holded/app/conectores/chatgpt/soporte/page.tsx
  apps/holded/app/conectores/chatgpt/terms/page.tsx
  apps/holded/app/conectores/claude/page.tsx
  apps/holded/app/conectores/claude/soporte/page.tsx
  apps/holded/app/conectores/claude/terms/page.tsx
  apps/holded/app/demo-recording/page.tsx
  apps/holded/app/page.tsx
  apps/holded/app/terms/page.tsx
  apps/holded/middleware.ts
  package.json
  scripts/qa-holded-landings.mjs
  scripts/video-pipeline/config.py
Due: eslint --fix --max-warnings=0, prettier --write

fix(video): reemplazar intro-sora.mp4 con grabación Playwright de logos reales
  docs/video-assets/intro-sora.mp4
  docs/video-assets/intro.html
Due: none

Path conditions:
  eslint --fix --max-warnings=0: any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,md,yaml,yml})
