Repository kiabusiness2025/verifactu-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": [
    "eslint --fix --max-warnings=0",
    "prettier --write"
  ],
  "*.{json,md,yaml,yml}": [
    "prettier --write"
  ]
}

docs: add comprehensive GitHub collaboration guides
  docs/DEPENDABOT_GUIDE.md
  docs/GITHUB_ACTIONS_GUIDE.md
  docs/GITHUB_CHEATSHEET.md
  docs/GITHUB_INTEGRATION.md
  docs/GITHUB_PR_VSCODE_GUIDE.md
  docs/README.md
Due: prettier --write

docs: add GitHub collaboration completion summary
  GITHUB_COLLABORATION_COMPLETE.md
Due: prettier --write

docs: add comprehensive project summary
  PROJECT_SUMMARY.md
Due: prettier --write

docs: add visual GitHub workflow architecture diagrams
  GITHUB_WORKFLOW_ARCHITECTURE.md
Due: prettier --write

docs: add comprehensive getting started guide
  GETTING_STARTED.md
Due: prettier --write

docs: add complete technology stack guides
  docs/GITHUB_COPILOT_GUIDE.md
  docs/MAKEFILE_REFERENCE.md
  docs/PRISMA_GUIDE.md
  docs/TAILWIND_GUIDE.md
  docs/TYPESCRIPT_STRICT_GUIDE.md
Due: prettier --write

docs: add complete technology stack documentation index
  TECHNOLOGY_STACK_DOCS.md
Due: prettier --write

chore: fix jest/babel config, backend tests, linting, landing redirect
  apps/api/babel.config.cjs
  apps/api/index.js
  apps/api/jest.config.cjs
  apps/api/soap-client.test.js
  apps/app/.eslintrc.json
  apps/app/app/api/admin/emails/route.ts
  apps/app/app/api/admin/emails/route_new.ts
  apps/app/app/dashboard/admin/companies/[id]/page.tsx
  apps/app/app/dashboard/admin/companies/new/page.tsx
  apps/app/app/dashboard/admin/empresas/page.tsx
  apps/app/app/login/page.tsx
  apps/app/lib/firebase.ts
  apps/landing/app/auth/login/page.tsx
  apps/landing/app/auth/signup/page.tsx
  apps/landing/app/lib/auth.ts
  apps/landing/middleware.ts
  apps/landing/public/.well-known/microsoft-identity-association
  apps/landing/public/microsoft-identity-association.json
Due: eslint --fix --max-warnings=0, prettier --write

fix: add root directory to vercel.json for monorepo structure
  vercel.json
Due: prettier --write

fix: add root directory to vercel.json for monorepo apps/app structure
  vercel.json
Due: prettier --write

fix: correct vercel.json paths relative to root directory
  vercel.json
Due: prettier --write

fix: remove invalid root property from vercel.json
  vercel.json
Due: prettier --write

fix: correct build commands to handle monorepo structure from apps/app root
  vercel.json
Due: prettier --write

fix: simplify vercel.json - let Vercel auto-detect NextJS with Root Directory set to apps/app
  vercel.json
Due: prettier --write

fix: remove duplicate vercel.json from apps/app - use root vercel.json only
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/dependabot.yml
  .github/pull_request_template.md
  CODEOWNERS
  TOOLING_SUMMARY.md
  apps/api/babel.config.js.bak
  apps/app/app/(dashboard)/dashboard/isaak/[id]/page.tsx
  apps/app/app/dashboard/admin/contabilidad/page.tsx
  apps/app/app/dashboard/admin/import/page.tsx
  apps/app/app/dashboard/admin/reports/page.tsx
  apps/app/vercel.json
  docs/BRANCH_PROTECTION_RULES.md
  docs/PULL_REQUEST_WORKFLOW.md
Due: eslint --fix --max-warnings=0, prettier --write

fix: explicitly configure buildCommand and outputDirectory for monorepo root deployment
  vercel.json
Due: prettier --write

feat: add Resend configuration management to admin dashboard
  apps/app/app/api/admin/resend/messages/route.ts
  apps/app/app/api/admin/resend/send/route.ts
  apps/app/app/dashboard/admin/layout.tsx
  apps/app/app/dashboard/admin/resend/page.tsx
Due: eslint --fix --max-warnings=0, prettier --write

feat: add email templates and Resend API integration for received emails
  apps/app/app/api/admin/resend/attachments/route.ts
  apps/app/app/api/admin/resend/messages/route.ts
  apps/app/app/dashboard/admin/resend/page.tsx
  apps/app/emails/InvoiceReadyEmail.tsx
  apps/app/emails/MonthlyReportEmail.tsx
  apps/app/emails/PaymentReminderEmail.tsx
  apps/app/emails/SupportTicketEmail.tsx
  apps/app/emails/index.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat: complete Resend email management + eInforma company search integration
  EINFORMA_TODO.md
  apps/app/app/api/admin/resend/attachments/route.ts
  apps/app/app/api/admin/resend/messages/route.ts
  apps/app/app/api/admin/users/list/route.ts
  apps/app/app/api/einforma/profile/route.ts
  apps/app/app/api/einforma/search/route.ts
  apps/app/app/api/user/profile/route.ts
  apps/app/app/dashboard/admin/emails/page.tsx
  apps/app/app/dashboard/admin/layout.tsx
  apps/app/app/dashboard/admin/resend/page.tsx
  apps/app/components/isaak/IsaakGreetingCard.tsx
  apps/app/components/layout/Topbar.tsx
  apps/app/components/tenants/CreateCompanyModal.tsx
  apps/app/emails/InvoiceReadyEmail.tsx
  apps/app/emails/MonthlyReportEmail.tsx
  apps/app/emails/PaymentReminderEmail.tsx
  apps/app/emails/SupportTicketEmail.tsx
  apps/app/emails/index.ts
  apps/app/hooks/useUserProfile.ts
  apps/app/src/lib/data/useDataMode.ts
  docs/EINFORMA_SETUP.md
Due: eslint --fix --max-warnings=0, prettier --write

docs: update EINFORMA_SETUP.md documentation
  docs/EINFORMA_SETUP.md
Due: prettier --write

fix: explicitly specify pnpm packageManager in vercel.json for correct build detection
  vercel.json
Due: prettier --write

fix: remove invalid packageManager property from vercel.json - already defined in package.json
  vercel.json
Due: prettier --write

fix: enable corepack in buildCommand to properly detect and use pnpm
  vercel.json
Due: prettier --write

fix: switch to npm for Vercel build due to pnpm registry compatibility issues
  vercel.json
Due: prettier --write

fix: use npx turbo directly to pass --filter flag correctly
  vercel.json
Due: prettier --write

fix: simplify GitHub Actions workflow - let Vercel handle deployments automatically
  .github/workflows/deploy.yml
Due: prettier --write

feat: implement Firebase Remote Config for web with comprehensive default values and real-time listeners
  .github/workflows/ci-cd.yml
  apps/app/components/PWAInstallPrompt.tsx
  apps/app/lib/firebase.ts
  apps/app/lib/i18n/es.ts
  apps/app/lib/remoteConfig.ts
  docs/README.md
  docs/REMOTE_CONFIG_GUIDE.md
  docs/SMOKE_TESTS.md
  package.json
  scripts/fix-encoding.js
  scripts/stripe/sync-and-fill-env.mjs
Due: eslint --fix --max-warnings=0, prettier --write

fix: add lucide-react dependency and configure all Turbo environment variables
  apps/app/package.json
  turbo.json
Due: prettier --write

fix: add framer-motion and next-auth dependencies for build
  apps/app/package.json
Due: prettier --write

fix: add resend dependency for email API routes
  apps/app/package.json
Due: prettier --write

fix: add firebase-admin dependency for admin authentication routes
  apps/app/package-lock.json
  apps/app/package.json
Due: prettier --write

fix: use pnpm consistently in Vercel for proper workspace dependency resolution
  vercel.json
Due: prettier --write

Improve auth UX, encoding checks, and i18n tooling
  .github/workflows/auto-fix-and-deploy.yml
  .github/workflows/ci-cd.yml
  .github/workflows/deploy.yml
  .github/workflows/isaak-auto-fix.yml
  .github/workflows/typecheck.yml
  docs/I18N_AUDIT.md
  docs/I18N_AUTOMATION.md
  package.json
  scripts/i18n-audit.js
Due: eslint --fix --max-warnings=0, prettier --write

fix: switch back to npm with workspaces config - pnpm has registry incompatibility in Vercel
  package.json
  vercel.json
Due: prettier --write

fix: use package name instead of path for npm workspace build command
  vercel.json
Due: prettier --write

chore: ignore npm cache
  .gitignore
Due: none

fix: add missing closing div tag in send tab compose form
  apps/app/app/dashboard/admin/resend/page.tsx
Due: eslint --fix --max-warnings=0, prettier --write

fix: use correct Resend API methods (emails.list and emails.get)
  apps/app/app/api/admin/resend/messages/route.ts
Due: eslint --fix --max-warnings=0, prettier --write

fix: temporarily disable Resend messages API (SDK type mismatch)
  apps/app/app/api/admin/resend/messages/route.ts
Due: eslint --fix --max-warnings=0, prettier --write
