Repository kiabusiness2025/verifactu-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": [
    "eslint --fix --max-warnings=0",
    "prettier --write"
  ],
  "*.{json,md,yaml,yml}": [
    "prettier --write"
  ]
}

feat(isaak): /api/holded/feedback embeds questions on thumbs-up
  apps/isaak/app/api/holded/feedback/route.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat(isaak): inject few-shot examples into chat system prompt
  apps/isaak/app/api/chat/route.ts
  apps/isaak/app/api/chat/stream/route.ts
  apps/isaak/app/lib/isaak-chat-metrics.ts
  apps/isaak/app/lib/isaak-chat-prompts.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat(isaak): F7 Feedback loop - few-shot dinamico desde 👍 (#131)
  apps/isaak/app/api/chat/route.ts
  apps/isaak/app/api/chat/stream/route.ts
  apps/isaak/app/api/holded/feedback/route.ts
  apps/isaak/app/lib/__tests__/isaak-few-shot.test.ts
  apps/isaak/app/lib/isaak-chat-metrics.ts
  apps/isaak/app/lib/isaak-chat-prompts.ts
  apps/isaak/app/lib/isaak-few-shot-prompt.ts
  apps/isaak/app/lib/isaak-few-shot-sql.ts
  apps/isaak/app/lib/isaak-few-shot.ts
  packages/db/prisma/migrations/20260529000000_isaak_feedback_embedding/migration.sql
  packages/db/prisma/migrations/20260529100000_isaak_chat_metrics_few_shot/migration.sql
  packages/db/prisma/schema.prisma
Due: eslint --fix --max-warnings=0, prettier --write

fix(tests): corregir 3 fallos de tests en landing y admin
  apps/admin/jest.config.mjs
  apps/admin/package.json
  apps/landing/__tests__/auth-session.test.ts
  apps/landing/app/api/auth/session/route.ts
  jest.config.cjs
Due: eslint --fix --max-warnings=0, prettier --write

db(isaak): F8 schema — track sub-agent per chat metric
  packages/db/prisma/migrations/20260530000000_isaak_chat_metrics_sub_agent/migration.sql
  packages/db/prisma/schema.prisma
Due: none

feat(isaak): fiscal sub-agent registry + routing
  apps/isaak/app/lib/__tests__/isaak-sub-agents.test.ts
  apps/isaak/app/lib/isaak-sub-agents.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat(isaak): wire sub-agent routing into /api/chat + /api/chat/stream
  apps/isaak/app/api/chat/route.ts
  apps/isaak/app/api/chat/stream/route.ts
  apps/isaak/app/lib/isaak-chat-metrics.ts
Due: eslint --fix --max-warnings=0, prettier --write

test(isaak): golden fixtures for sub-agent routing
  apps/isaak/tests/intelligence/fixtures/sub-agent/01-fiscal-iva-deadline.json
  apps/isaak/tests/intelligence/fixtures/sub-agent/02-fiscal-retencion.json
  apps/isaak/tests/intelligence/golden/sub-agent.test.ts
  apps/isaak/tests/intelligence/helpers/load-fixtures.ts
  apps/isaak/tests/intelligence/helpers/types.ts
Due: eslint --fix --max-warnings=0, prettier --write

docs(isaak): manifesto historial — F1 a F8a entregadas
  docs/engineering/ISAAK_INTELLIGENCE.md
Due: prettier --write

feat(isaak): F8a Sub-agents - agente fiscal especializado (#132)
  apps/isaak/app/api/chat/route.ts
  apps/isaak/app/api/chat/stream/route.ts
  apps/isaak/app/lib/__tests__/isaak-sub-agents.test.ts
  apps/isaak/app/lib/isaak-chat-metrics.ts
  apps/isaak/app/lib/isaak-sub-agents.ts
  apps/isaak/tests/intelligence/fixtures/sub-agent/01-fiscal-iva-deadline.json
  apps/isaak/tests/intelligence/fixtures/sub-agent/02-fiscal-retencion.json
  apps/isaak/tests/intelligence/golden/sub-agent.test.ts
  apps/isaak/tests/intelligence/helpers/load-fixtures.ts
  apps/isaak/tests/intelligence/helpers/types.ts
  docs/engineering/ISAAK_INTELLIGENCE.md
  packages/db/prisma/migrations/20260530000000_isaak_chat_metrics_sub_agent/migration.sql
  packages/db/prisma/schema.prisma
Due: eslint --fix --max-warnings=0, prettier --write

feat(isaak): banking + gestion sub-agents (F8b + F8c)
  apps/isaak/app/lib/__tests__/isaak-sub-agents.test.ts
  apps/isaak/app/lib/isaak-sub-agents.ts
Due: eslint --fix --max-warnings=0, prettier --write

test(isaak): golden fixtures for banking + gestion sub-agents
  apps/isaak/tests/intelligence/fixtures/sub-agent/03-banking-balance.json
  apps/isaak/tests/intelligence/fixtures/sub-agent/04-banking-forecast.json
  apps/isaak/tests/intelligence/fixtures/sub-agent/05-gestion-list-clients.json
  apps/isaak/tests/intelligence/golden/sub-agent.test.ts
Due: eslint --fix --max-warnings=0, prettier --write

docs(isaak): manifesto 8/8 cerrado
  docs/engineering/ISAAK_INTELLIGENCE.md
Due: prettier --write

feat(isaak): F8b+c Sub-agents banking + gestion (cierra el manifiesto 8/8) (#133)
  apps/isaak/app/lib/__tests__/isaak-sub-agents.test.ts
  apps/isaak/app/lib/isaak-sub-agents.ts
  apps/isaak/tests/intelligence/fixtures/sub-agent/03-banking-balance.json
  apps/isaak/tests/intelligence/fixtures/sub-agent/04-banking-forecast.json
  apps/isaak/tests/intelligence/fixtures/sub-agent/05-gestion-list-clients.json
  apps/isaak/tests/intelligence/golden/sub-agent.test.ts
  docs/engineering/ISAAK_INTELLIGENCE.md
Due: eslint --fix --max-warnings=0, prettier --write

docs(isaak): roadmap post-manifiesto — Robot Contable vision F9-F20 + Track B
  docs/engineering/ISAAK_ROADMAP_POST_MANIFESTO.md
Due: prettier --write

test(landing): añadir tests unitarios para POST /api/auth/magic-link
  apps/landing/__tests__/magic-link.test.ts
Due: eslint --fix --max-warnings=0, prettier --write

fix(db): resolver migración fallida P3009 antes de migrate deploy
  packages/db/package.json
  packages/db/scripts/migrate-deploy.mjs
Due: prettier --write

fix(db): corregir FK en migración long_term_memory — "users" → "User"
  packages/db/prisma/migrations/20260527000000_isaak_long_term_memory/migration.sql
Due: none

docs(isaak): update master plan with F1-F8 closure and Robot Contable roadmap
  docs/engineering/ISAAK_MASTER_PLAN.md
Due: prettier --write

feat(isaak): F9 Isaak Ledger schema + hash chain (audit trail inmutable)
  apps/isaak/app/lib/__tests__/isaak-ledger-hash.test.ts
  apps/isaak/app/lib/isaak-ledger-hash.ts
  packages/db/prisma/migrations/20260601000000_isaak_ledger_entries/migration.sql
  packages/db/prisma/schema.prisma
Due: eslint --fix --max-warnings=0, prettier --write

feat(isaak): F9 fase 2 — repositorio append atómico con advisory lock
  apps/isaak/app/lib/__tests__/isaak-ledger-sql.test.ts
  apps/isaak/app/lib/isaak-ledger-repo.ts
  apps/isaak/app/lib/isaak-ledger-sql.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat(isaak): F9 fase 3 — Holded importer + LLM tools (create_entry, import_holded)
  apps/isaak/app/lib/__tests__/isaak-ledger-holded-mapper.test.ts
  apps/isaak/app/lib/__tests__/isaak-tools-registry.test.ts
  apps/isaak/app/lib/isaak-intent-classifier-parser.ts
  apps/isaak/app/lib/isaak-ledger-holded-importer.ts
  apps/isaak/app/lib/isaak-ledger-holded-mapper.ts
  apps/isaak/app/lib/isaak-ledger-sql.ts
  apps/isaak/app/lib/isaak-ledger-tools.ts
  apps/isaak/app/lib/isaak-sub-agents.ts
  apps/isaak/app/lib/isaak-tools-registry.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat(isaak): F11 fase 1 — Inspector AEAT engine + 16 starter rules
  apps/isaak/app/lib/__tests__/inspector-aeat-rules.test.ts
  apps/isaak/app/lib/__tests__/inspector-aeat.test.ts
  apps/isaak/app/lib/inspector-aeat-rules.ts
  apps/isaak/app/lib/inspector-aeat.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat(isaak): F11 fase 2 — Inspector AEAT integrado en tool-loop + stream
  apps/isaak/app/api/chat/route.ts
  apps/isaak/app/api/chat/stream/route.ts
  apps/isaak/app/lib/__tests__/inspector-aeat-bridge.test.ts
  apps/isaak/app/lib/inspector-aeat-bridge.ts
  apps/isaak/app/lib/isaak-chat-metrics.ts
  apps/isaak/app/lib/isaak-chat-stream.ts
  apps/isaak/app/lib/isaak-tool-loop.ts
  packages/db/prisma/migrations/20260602000000_isaak_chat_metrics_inspector/migration.sql
  packages/db/prisma/schema.prisma
Due: eslint --fix --max-warnings=0, prettier --write

feat(isaak): F13 fase 1 — RAG AEAT corpus scaffolding (schema + chunker + sources)
  apps/isaak/app/lib/__tests__/aeat-corpus.test.ts
  apps/isaak/app/lib/aeat-corpus-chunker.ts
  apps/isaak/app/lib/aeat-corpus-sources.ts
  apps/isaak/app/lib/aeat-corpus-sql.ts
  packages/db/prisma/migrations/20260603000000_isaak_aeat_corpus/migration.sql
  packages/db/prisma/schema.prisma
Due: eslint --fix --max-warnings=0, prettier --write

feat(isaak): F11 fase 2a — refactor schema reglas + R000 perfil + R040 → R040A/R040B (RD-Ley 15/2025)
  apps/isaak/app/lib/__tests__/inspector-aeat-profile.test.ts
  apps/isaak/app/lib/__tests__/inspector-aeat-rules.test.ts
  apps/isaak/app/lib/__tests__/inspector-aeat.test.ts
  apps/isaak/app/lib/inspector-aeat-bridge.ts
  apps/isaak/app/lib/inspector-aeat-profile.ts
  apps/isaak/app/lib/inspector-aeat-rules.ts
  apps/isaak/app/lib/inspector-aeat.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat(isaak): F11 fase 2b — 18 reglas nuevas (Inspector pyme útil)
  apps/isaak/app/lib/__tests__/inspector-aeat-rules.test.ts
  apps/isaak/app/lib/inspector-aeat-rules.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat(isaak): F11 fase 2c — auditoría contable (10 reglas cross-cutting + snapshot)
  apps/isaak/app/lib/__tests__/inspector-aeat-audit.test.ts
  apps/isaak/app/lib/inspector-aeat-audit-rules.ts
  apps/isaak/app/lib/inspector-aeat-audit.ts
  apps/isaak/app/lib/inspector-aeat-rules.ts
  apps/isaak/app/lib/inspector-aeat.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat(isaak): F11 fase 3 — wiring auditoría (endpoint + tool LLM + cron mensual)
  apps/isaak/app/api/cron/audit-monthly/route.ts
  apps/isaak/app/api/isaak/audit/route.ts
  apps/isaak/app/lib/__tests__/isaak-audit-loader.test.ts
  apps/isaak/app/lib/__tests__/isaak-tools-registry.test.ts
  apps/isaak/app/lib/isaak-audit-loader.ts
  apps/isaak/app/lib/isaak-ledger-tools.ts
  apps/isaak/app/lib/isaak-tools-registry.ts
  apps/isaak/vercel.json
Due: eslint --fix --max-warnings=0, prettier --write

feat(isaak): F10 — Excel export solo-lectura (libro IVA, diario, modelo 303)
  apps/isaak/app/api/isaak/export/excel/route.ts
  apps/isaak/app/lib/__tests__/isaak-excel-export.test.ts
  apps/isaak/app/lib/__tests__/isaak-tools-registry.test.ts
  apps/isaak/app/lib/isaak-excel-export.ts
  apps/isaak/app/lib/isaak-excel-loader.ts
  apps/isaak/app/lib/isaak-ledger-tools.ts
  apps/isaak/app/lib/isaak-tools-registry.ts
  apps/isaak/package.json
  pnpm-lock.yaml
Due: eslint --fix --max-warnings=0, prettier --write

feat(isaak): UI auditoría + descargas Excel (Robot Contable visible)
  apps/isaak/app/(workspace)/auditoria/page.tsx
  apps/isaak/app/(workspace)/components/ExcelDownloadButton.tsx
  apps/isaak/app/(workspace)/components/IsaakSidebar.tsx
Due: eslint --fix --max-warnings=0, prettier --write

feat(isaak): pivote estratégico — integraciones sectoriales + landing WOW
  apps/isaak/app/(workspace)/chift/page.tsx
  apps/isaak/app/(workspace)/integrations/IntegrationsClient.tsx
  apps/isaak/app/api/isaak/chift/callback/route.ts
  apps/isaak/app/api/isaak/chift/connect/route.ts
  apps/isaak/app/api/isaak/chift/disconnect/route.ts
  apps/isaak/app/api/isaak/chift/status/route.ts
  apps/isaak/app/components/IsaakHomeLanding.tsx
  apps/isaak/app/components/SectorLogoItem.tsx
  apps/isaak/app/lib/chift-client.ts
  apps/isaak/app/lib/chift-erp-client.ts
  apps/isaak/app/lib/erp-client-factory.ts
  apps/isaak/app/lib/erp-client.ts
  apps/landing/app/integraciones/hotelgest/page.tsx
  apps/landing/app/integraciones/page.tsx
  docs/engineering/ISAAK_MASTER_PLAN.md
  docs/engineering/SECTOR_INTEGRATIONS_PLAN.md
  docs/product/ISAAK_MASTER_PLAN.md
Due: eslint --fix --max-warnings=0, prettier --write

feat(isaak): F11 fase 4a — IsaakTaxReturn + cruces audit con datos reales
  apps/isaak/app/api/isaak/tax-returns/route.ts
  apps/isaak/app/lib/__tests__/isaak-audit-loader.test.ts
  apps/isaak/app/lib/__tests__/isaak-tax-returns.test.ts
  apps/isaak/app/lib/__tests__/isaak-tools-registry.test.ts
  apps/isaak/app/lib/isaak-audit-loader.ts
  apps/isaak/app/lib/isaak-ledger-tools.ts
  apps/isaak/app/lib/isaak-tax-returns.ts
  apps/isaak/app/lib/isaak-tools-registry.ts
  packages/db/prisma/migrations/20260604000000_isaak_tax_returns/migration.sql
  packages/db/prisma/schema.prisma
Due: eslint --fix --max-warnings=0, prettier --write

feat(isaak): F11 fase 4b — 6 reglas sectoriales/territoriales (51 reglas totales)
  apps/isaak/app/lib/__tests__/inspector-aeat-rules.test.ts
  apps/isaak/app/lib/inspector-aeat-rules.ts
Due: eslint --fix --max-warnings=0, prettier --write

docs(isaak): reorganizar roadmap por módulos + abrir Mercantil y Sede AEAT
  docs/engineering/ISAAK_MASTER_PLAN.md
  docs/engineering/ISAAK_ROADMAP_POST_MANIFESTO.md
Due: prettier --write

feat(isaak): módulo Company Intelligence — Ficha Empresa
  apps/isaak/app/lib/__tests__/company-intelligence.test.ts
  apps/isaak/app/lib/company-intelligence-normalizers.ts
  apps/isaak/app/lib/company-intelligence-rules.ts
  apps/isaak/app/lib/company-intelligence-scoring.ts
  apps/isaak/app/lib/company-intelligence-service.ts
  apps/isaak/app/lib/company-intelligence-sources.ts
  apps/isaak/app/lib/company-intelligence-types.ts
  docs/isaak/COMPANY_INTELLIGENCE.md
Due: eslint --fix --max-warnings=0, prettier --write

feat(isaak): C-A — Sede AEAT con persistencia, dedupe y diff censal
  apps/isaak/app/api/cron/aeat-sede-sync/route.ts
  apps/isaak/app/api/isaak/sede/sync/route.ts
  apps/isaak/app/lib/__tests__/aeat-sede-diff.test.ts
  apps/isaak/app/lib/__tests__/isaak-tools-registry.test.ts
  apps/isaak/app/lib/aeat-sede-diff.ts
  apps/isaak/app/lib/aeat-sede-sync.ts
  apps/isaak/app/lib/isaak-ledger-tools.ts
  apps/isaak/app/lib/isaak-tools-registry.ts
  apps/isaak/vercel.json
  packages/db/prisma/migrations/20260605000000_isaak_aeat_sede_persistence/migration.sql
  packages/db/prisma/schema.prisma
Due: eslint --fix --max-warnings=0, prettier --write

docs(isaak): Company Intelligence en planes maestros + guia HotelGest
  apps/isaak/app/components/IsaakHomeLanding.tsx
  docs/engineering/ISAAK_MASTER_PLAN.md
  docs/isaak/HOTELGEST_INTEGRATION.md
  docs/product/ISAAK_MASTER_PLAN.md
Due: eslint --fix --max-warnings=0, prettier --write

feat(isaak): F11 fase 5a — Bridge Company Intelligence → Inspector (VIES)
  apps/isaak/app/lib/__tests__/inspector-aeat-rules.test.ts
  apps/isaak/app/lib/__tests__/isaak-tools-registry.test.ts
  apps/isaak/app/lib/inspector-aeat-rules.ts
  apps/isaak/app/lib/inspector-aeat.ts
  apps/isaak/app/lib/isaak-ledger-tools.ts
  apps/isaak/app/lib/isaak-tools-registry.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat(isaak): C-A3 + C-A4 — justificantes auto-link + resumen IA semanal
  apps/isaak/app/api/cron/aeat-sede-sync/route.ts
  apps/isaak/app/api/cron/aeat-weekly-summary/route.ts
  apps/isaak/app/lib/__tests__/aeat-justificante-parser.test.ts
  apps/isaak/app/lib/__tests__/aeat-weekly-summary.test.ts
  apps/isaak/app/lib/__tests__/isaak-tools-registry.test.ts
  apps/isaak/app/lib/aeat-justificante-parser.ts
  apps/isaak/app/lib/aeat-sede-sync.ts
  apps/isaak/app/lib/aeat-weekly-summary-prompt.ts
  apps/isaak/app/lib/aeat-weekly-summary.ts
  apps/isaak/app/lib/isaak-ledger-tools.ts
  apps/isaak/app/lib/isaak-tools-registry.ts
  apps/isaak/vercel.json
Due: eslint --fix --max-warnings=0, prettier --write
