Repository kiabusiness2025/verifactu-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, prettier --write

docs: tidy admin oauth resolution notes
  docs/ADMIN_OAUTH_RESOLUTION.md
Due: prettier --write

chore: ignore local vercel env/import notes
  .gitignore
Due: none

Add eINFORMA test page to admin integrations
  apps/admin/app/(admin)/integrations/einforma/page.tsx
  apps/admin/src/navAdmin.tsx
Due: eslint --fix --max-warnings=0, prettier --write

Fix eINFORMA test page UI
  apps/admin/app/(admin)/integrations/einforma/page.tsx
  apps/admin/src/navAdmin.tsx
Due: eslint --fix --max-warnings=0, prettier --write

Fix prisma import in app support routes
  apps/app/app/api/support/end/route.ts
  apps/app/app/support/handoff/route.ts
Due: eslint --fix --max-warnings=0, prettier --write

db: einforma cache migration
  packages/db/prisma/migrations/20260204140138_einforma_cache/migration.sql
  packages/db/prisma/schema.prisma
Due: none

integrations: einforma proxy + cache + autofill
  apps/admin/app/api/admin/companies/route.ts
  apps/admin/app/dashboard/admin/companies/new/page.tsx
  apps/admin/app/dashboard/admin/page.tsx
  apps/admin/server/einforma.ts
  apps/app/app/api/chat/route.ts
  apps/app/app/api/integrations/einforma/company/route.ts
  apps/app/app/api/integrations/einforma/enrich-tenant/route.ts
  apps/app/app/api/integrations/einforma/search/route.ts
  apps/app/app/api/onboarding/tenant/route.ts
  apps/app/components/customers/CustomersForm.tsx
  apps/app/components/suppliers/SuppliersForm.tsx
  apps/app/server/einforma.ts
  docs/runbooks/einforma-credentials.md
Due: eslint --fix --max-warnings=0, prettier --write

einforma: request json responses
  apps/app/server/einforma.ts
Due: eslint --fix --max-warnings=0, prettier --write

dashboard: tolerate missing session
  apps/app/src/server/dashboard/getDashboardSummary.ts
Due: eslint --fix --max-warnings=0, prettier --write

einforma: map profile fields + normalize address
  apps/admin/app/api/admin/companies/route.ts
  apps/app/app/api/integrations/einforma/enrich-tenant/route.ts
  apps/app/app/api/onboarding/tenant/route.ts
  docs/runbooks/einforma-mapping.md
  packages/db/prisma/migrations/20260204202015_einforma_profile_fields/migration.sql
  packages/db/prisma/schema.prisma
Due: eslint --fix --max-warnings=0, prettier --write

Add build:debug script for turbo
  package.json
Due: prettier --write

einforma: cached company/profile + enrich tenant; support handoff/end hardening; admin UI
  .gitignore
  apps/admin/app/api/admin/einforma/profile/route.ts
  apps/admin/app/dashboard/admin/companies/new/page.tsx
  apps/app/app/api/integrations/einforma/company/route.ts
  apps/app/app/api/integrations/einforma/enrich-tenant/route.ts
  apps/app/app/api/support/end/route.ts
  apps/app/app/dashboard/onboarding/page.tsx
  apps/app/app/support/handoff/route.ts
Due: eslint --fix --max-warnings=0, prettier --write

dashboard: add error logging fallback and fix copy
  apps/app/app/dashboard/page.tsx
Due: eslint --fix --max-warnings=0, prettier --write

admin: new dashboard + ops errors; error monitor persistence
  apps/admin/app/(admin)/dashboard/page.tsx
  apps/admin/app/(admin)/operations/errors/page.tsx
  apps/admin/app/globals.css
  apps/admin/next.config.js
  apps/app/app/api/monitor/error/route.ts
  packages/db/prisma/migrations/20260205144907_error_event/migration.sql
  packages/db/prisma/schema.prisma
Due: eslint --fix --max-warnings=0, prettier --write

landing: use direct postgres url for session mint
  apps/landing/app/api/auth/session/route.ts
Due: eslint --fix --max-warnings=0, prettier --write

Harden env usage and remove hardcoded database URLs
  apps/api/.env.example
  scripts/add-admin-to-demo.js
  scripts/apply-demo-flag-migration.js
  scripts/apply-email-migration.js
  scripts/apply-isaak-tone-migration.js
  scripts/apply-onboarding-migration.js
  scripts/apply-user-text-migration.js
  scripts/check-emails-db.js
  scripts/find-user.js
  scripts/seed-demo-tenant.js
Due: eslint --fix --max-warnings=0, prettier --write

customers: add eInforma opt-in autocomplete by NIF
  apps/app/app/api/integrations/einforma/company/route.ts
  apps/app/components/customers/CustomersForm.tsx
Due: eslint --fix --max-warnings=0, prettier --write

einforma: return normalized fields for company lookup
  apps/app/app/api/integrations/einforma/company/route.ts
Due: eslint --fix --max-warnings=0, prettier --write

forms: eInforma opt-in autocomplete with validation/toast
  apps/app/components/customers/CustomersForm.tsx
  apps/app/components/suppliers/SuppliersForm.tsx
Due: eslint --fix --max-warnings=0, prettier --write

einforma: autofill admin/client + docs; fixes and updates
  apps/admin/README.md
  apps/app/app/api/chat/route.ts
  apps/app/app/api/expenses/route.ts
  apps/app/app/dashboard/admin/companies/[id]/page.tsx
  apps/app/app/dashboard/admin/companies/new/page.tsx
  apps/app/app/dashboard/admin/empresas/page.tsx
  apps/app/app/dashboard/admin/tenants/page.tsx
  apps/app/app/dashboard/clients/page.tsx
  apps/app/app/dashboard/onboarding/page.tsx
  apps/app/app/documents/page.tsx
  apps/app/components/documents/DocumentsUpload.tsx
  apps/app/components/expenses/ExpensesManager.tsx
  apps/app/components/expenses/ExpensesTable.tsx
  apps/app/lib/db-queries.ts
  apps/app/src/components/einforma/EinformaAutofillButton.tsx
  apps/landing/app/api/auth/session/route.ts
  docs/EXPENSE_CANONICAL_FORMAT.md
  docs/INGRESO_GASTOS_PLAN.md
  docs/UNIFICATION_PLAN.md
  docs/VOICE_PREP.md
  docs/runbooks/einforma-credentials.md
  docs/runbooks/einforma-mapping.md
Due: eslint --fix --max-warnings=0, prettier --write

docs+app: einforma mapping and expense updates
  apps/admin/README.md
  apps/app/app/api/chat/route.ts
  apps/app/app/api/expenses/route.ts
  apps/app/lib/expenses/canonical.ts
  docs/EXPENSE_CANONICAL_FORMAT.md
  docs/INGRESO_GASTOS_PLAN.md
  docs/UNIFICATION_PLAN.md
  docs/VOICE_PREP.md
  docs/runbooks/einforma-mapping.md
Due: eslint --fix --max-warnings=0, prettier --write

Add expense intake and status tracking
  .eslintrc.cjs
  apps/api/.gitignore
  apps/api/index.js
  apps/api/vercel.json
  apps/api/verifactu-generator.js
  apps/app/.eslintrc.json
  apps/app/app/api/chat/route.ts
  apps/app/app/api/expenses/intake/route.ts
  apps/app/app/api/expenses/route.ts
  apps/app/app/api/invoices/route.ts
  apps/app/components/documents/DocumentsUpload.tsx
  apps/app/components/expenses/ExpensesTable.tsx
  apps/app/components/invoices/InvoicesTable.tsx
  apps/app/lib/expenses/classify.ts
  apps/app/lib/hooks/useExpenses.ts
  apps/app/prisma/schema.prisma
  apps/landing/.eslintrc.cjs
  db/schema.sql
  docs/INGRESO_GASTOS_PLAN.md
  docs/INVOICE_EXPENSE_STATUS.md
  packages/db/prisma/schema.prisma
Due: eslint --fix --max-warnings=0, prettier --write

fix(landing): transpile db package
  apps/landing/next.config.js
  docs/INDEX.md
  docs/README.md
  docs/ops/CI_CHECKLIST.md
Due: eslint --fix --max-warnings=0, prettier --write

fix(app): normalize einforma capital social
  apps/app/src/components/einforma/EinformaAutofillButton.tsx
Due: eslint --fix --max-warnings=0, prettier --write

Env cleanup, CI and build fixes
  .env.example
  .github/workflows/ci.yml
  .gitignore
  apps/admin/.env.example
  apps/app/.env.example
  apps/app/.env.local.example
  apps/app/jest.config.mjs
  apps/app/next.config.mjs
  apps/client/package.json
  apps/landing/app/components/CookieBanner.tsx
  apps/landing/app/components/Header.tsx
  apps/landing/app/components/IsaakChat.tsx
  apps/landing/app/components/PWAInstallPrompt.tsx
  docs/ENV_CLEANUP.md
  packages/db/.env.example
  packages/ui/index.tsx
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/env-audit.mjs
  scripts/env-build.mjs
  scripts/env-import.mjs
  turbo.json
Due: eslint --fix --max-warnings=0, prettier --write

Fix app build and record validation
  apps/app/app/dashboard/DashboardClientLayout.tsx
  apps/app/app/dashboard/admin/companies/[id]/page.tsx
  apps/app/hooks/useIsaakDetection.ts
  apps/app/jest.setup.js
  apps/app/next-env.d.ts
  apps/app/next.config.mjs
  apps/app/package.json
  apps/app/pages/500.tsx
  apps/app/scripts/clean-next.mjs
  docs/DEPLOYMENT_CHECKLIST.md
  packages/ui/src/isaak/useIsaakContext.tsx
Due: eslint --fix --max-warnings=0, prettier --write

Align branch protection checks
  docs/BRANCH_PROTECTION_CONFIG.md
  docs/BRANCH_PROTECTION_RULES.md
Due: prettier --write

Update dependencies for security
  apps/admin/package.json
  apps/app/package.json
  apps/client/package.json
  apps/landing/package.json
  packages/auth/package.json
  pnpm-lock.yaml
Due: prettier --write

chore(build): skip root turbo on vercel
  package.json
  scripts/build-root.mjs
Due: prettier --write

fix(vercel): copy next output to root
  apps/admin/package.json
  apps/app/package.json
  apps/client/package.json
  apps/landing/package.json
  scripts/vercel-copy-next.mjs
Due: prettier --write

fix(vercel): set output tracing root
  apps/admin/next.config.js
  apps/app/next.config.mjs
  apps/client/next.config.mjs
  apps/landing/next.config.js
Due: eslint --fix --max-warnings=0, prettier --write

fix(vercel): prepare node_modules link
  apps/admin/package.json
  apps/app/package.json
  apps/client/package.json
  apps/landing/package.json
  scripts/vercel-prepare.mjs
Due: prettier --write

fix(vercel): link root lib for tracing
  scripts/vercel-prepare.mjs
Due: none

fix(vercel): exclude opentelemetry tracing
  apps/admin/next.config.js
  apps/app/next.config.mjs
  apps/client/next.config.mjs
  apps/landing/next.config.js
Due: eslint --fix --max-warnings=0, prettier --write

fix(vercel): exclude client-only tracing
  apps/admin/next.config.js
  apps/app/next.config.mjs
  apps/client/next.config.mjs
  apps/landing/next.config.js
Due: eslint --fix --max-warnings=0, prettier --write

Path conditions:
  eslint --fix --max-warnings=0: any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,md,yaml,yml})
