Repository kiabusiness2025/verifactu-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, prettier --write

feat(holded-landing): gate registration behind early access while ChatGPT app pending approval
  apps/holded/app/acceso/page.tsx
  apps/holded/app/page.tsx
Due: eslint --fix --max-warnings=0, prettier --write

refactor(holded): simplify landing to core scope, sharpen 5-second clarity
  apps/holded/app/components/HoldedHeroVisual.tsx
  apps/holded/app/page.tsx
Due: eslint --fix --max-warnings=0, prettier --write

feat(demo-requests): add qualified demo request capture — Fase I
  apps/admin/app/(admin)/demo-requests/[id]/page.tsx
  apps/admin/app/(admin)/demo-requests/page.tsx
  apps/admin/app/api/admin/demo-requests/[id]/route.ts
  apps/admin/app/api/admin/demo-requests/route.ts
  apps/admin/src/navAdmin.tsx
  apps/holded/app/api/demo-requests/route.ts
  apps/holded/app/components/DemoRequestForm.tsx
  apps/holded/app/demo/page.tsx
  apps/holded/app/lib/communications/holded-email-service.ts
  apps/holded/app/lib/communications/holded-email-templates.ts
  packages/db/prisma/migrations/20260421120000_add_demo_request/migration.sql
  packages/db/prisma/schema.prisma
Due: eslint --fix --max-warnings=0, prettier --write

feat(holded-landing): expand value proposition to accounting, fiscal models and document analysis
  apps/holded/app/components/HoldedHeroVisual.tsx
  apps/holded/app/page.tsx
Due: eslint --fix --max-warnings=0, prettier --write

feat(holded-mcp): add Claude MCP server for claude.verifactu.business
  apps/holded-mcp/.env.example
  apps/holded-mcp/Dockerfile
  apps/holded-mcp/docker-compose.yml
  apps/holded-mcp/package.json
  apps/holded-mcp/src/auth.ts
  apps/holded-mcp/src/config.ts
  apps/holded-mcp/src/holded-client.ts
  apps/holded-mcp/src/index.ts
  apps/holded-mcp/src/logger.ts
  apps/holded-mcp/src/middleware/auth.ts
  apps/holded-mcp/src/oauth-routes.ts
  apps/holded-mcp/src/tools/contacts.ts
  apps/holded-mcp/src/tools/invoicing.ts
  apps/holded-mcp/src/tools/other.ts
  apps/holded-mcp/tsconfig.json
  pnpm-lock.yaml
Due: eslint --fix --max-warnings=0, prettier --write

feat(holded-mcp): add README and Claude chat UI shell
  apps/holded-mcp/README.md
  apps/holded/app/claude/page.tsx
Due: eslint --fix --max-warnings=0, prettier --write

feat(holded): dual connector landing, DPA, docs pages, Claude email flows
  apps/holded-mcp/src/oauth-routes.ts
  apps/holded/app/components/DemoLeadForm.tsx
  apps/holded/app/components/HoldedSiteChrome.tsx
  apps/holded/app/docs/chatgpt/page.tsx
  apps/holded/app/docs/claude/page.tsx
  apps/holded/app/dpa/page.tsx
  apps/holded/app/lib/communications/holded-email-service.ts
  apps/holded/app/lib/communications/holded-email-templates.ts
  apps/holded/app/page.tsx
  apps/holded/app/support/page.tsx
Due: eslint --fix --max-warnings=0, prettier --write

feat(holded-mcp): add logo SVG, favicon serving, and consent page icon
  apps/holded-mcp/public/logo.svg
  apps/holded-mcp/src/index.ts
  apps/holded-mcp/src/oauth-routes.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat(brand): add Holded diamond logo as SVG, use as favicon across apps
  apps/holded/app/layout.tsx
  apps/holded/public/Holded/Corporativo/Holded logo.svg
Due: eslint --fix --max-warnings=0, prettier --write

feat(brand): replace placeholder logo with official Holded SVG mark
  apps/holded-mcp/public/logo.svg
  apps/holded/public/Holded/Corporativo/Holded icono app.png
  apps/holded/public/Holded/Corporativo/Holded logo.png
  apps/holded/public/Holded/Corporativo/Holded logo.svg
Due: none

fix(holded-mcp): fix Railway deployment — use npm install and force Dockerfile build
  apps/holded-mcp/Dockerfile
  apps/holded-mcp/railway.toml
Due: none

fix(holded-mcp): install pnpm in Dockerfile to match root packageManager requirement
  apps/holded-mcp/Dockerfile
Due: none

fix(holded-mcp): disable build cache to force pnpm detection
  apps/holded-mcp/railway.toml
Due: none

fix(holded-mcp): remove global pnpm install, use npm only
  apps/holded-mcp/Dockerfile
Due: none

fix(holded-mcp): add .npmrc to force npm (ignore root packageManager requirement)
  apps/holded-mcp/.npmrc
Due: none

fix(holded-mcp): improve Dockerfile - add .npmrc explicitly, remove USER node, use Node healthcheck
  apps/holded-mcp/Dockerfile
Due: none

fix(holded-mcp): dockerfile for monorepo context - copy from workspace root
  apps/holded-mcp/.dockerignore
  apps/holded-mcp/Dockerfile
Due: none

fix(holded-mcp): Dockerfile with monorepo context, railway.toml with root context
  apps/holded-mcp/railway.toml
Due: none

fix(holded-mcp): revert to simple Dockerfile independent of monorepo context
  apps/holded-mcp/Dockerfile
  apps/holded-mcp/railway.toml
Due: none

ci(render): configure MCP server deployment to apps/holded-mcp
  Dockerfile
  render.yaml
Due: prettier --write

ci(render): use pnpm for MCP server build and deployment
  Dockerfile
  render.yaml
Due: prettier --write

fix(holded-mcp): copy pnpm-lock.yaml from root in monorepo build
  apps/holded-mcp/Dockerfile
Due: none

fix(holded-mcp): set monorepo root as build context for Railway
  apps/holded-mcp/railway.toml
Due: none

fix(holded-mcp): remove invalid shell operators from COPY instruction
  apps/holded-mcp/Dockerfile
Due: none

fix(holded-mcp): standalone Dockerfile, no monorepo workspace deps
  apps/holded-mcp/Dockerfile
Due: none

fix(holded-mcp): use apps/holded-mcp as build context, simplify COPY paths
  apps/holded-mcp/Dockerfile
  apps/holded-mcp/railway.toml
Due: none

fix(holded-mcp): add explicit Router type annotation to oauthRouter
  apps/holded-mcp/src/oauth-routes.ts
Due: eslint --fix --max-warnings=0, prettier --write

fix(holded-mcp): disable declaration emit to prevent TS2742
  apps/holded-mcp/tsconfig.json
Due: prettier --write

fix(holded-mcp): replace letter divs with Holded SVG logo in consent page
  apps/holded-mcp/src/oauth-routes.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat(holded-mcp): stateless JWT tokens — embed holdedApiKey, implement refresh_token, remove in-memory stores
  apps/holded-mcp/src/auth.ts
  apps/holded-mcp/src/oauth-routes.ts
Due: eslint --fix --max-warnings=0, prettier --write

fix(holded-mcp): add refresh_token to well-known, update README to stateless arch
  apps/holded-mcp/README.md
  apps/holded-mcp/src/index.ts
Due: eslint --fix --max-warnings=0, prettier --write

chore(holded-mcp): add Holded demo seed script for Nova Gestión QA account
  apps/holded-mcp/scripts/seed-demo.mjs
Due: none

fix(holded-mcp): add Holded PNG favicon — fixes icon in Claude integration panel
  .gitignore
  apps/holded-mcp/public/favicon.png
  apps/holded-mcp/src/index.ts
  apps/holded-mcp/src/oauth-routes.ts
Due: eslint --fix --max-warnings=0, prettier --write

chore(holded-mcp): add Holded demo seed script for Nova Gestión QA account
  apps/holded-mcp/README.md
Due: prettier --write

fix(holded-mcp): add Holded PNG favicon — fixes icon in Claude integration panel
  apps/holded-mcp/public/index.html
Due: none

fix(holded-mcp): swap favicon to Holded app icon (square, transparent bg)
  apps/holded-mcp/public/favicon.png
Due: none

chore(holded-mcp): remove verifactu.business domain from user-facing UI
  apps/holded-mcp/README.md
  apps/holded-mcp/package.json
  apps/holded-mcp/public/index.html
  apps/holded-mcp/src/oauth-routes.ts
Due: eslint --fix --max-warnings=0, prettier --write

fix(holded-mcp): add oauth-protected-resource metadata + WWW-Authenticate headers
  apps/holded-mcp/src/index.ts
  apps/holded-mcp/src/middleware/auth.ts
Due: eslint --fix --max-warnings=0, prettier --write

fix(holded-mcp): implement dynamic client registration (RFC 7591)
  apps/holded-mcp/src/index.ts
  apps/holded-mcp/src/oauth-routes.ts
Due: eslint --fix --max-warnings=0, prettier --write

Path conditions:
  eslint --fix --max-warnings=0: any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,md,yaml,yml})
