Repository kiabusiness2025/verifactu-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, prettier --write

feat(isaak): alinear paleta y marca del workspace con la landing
  apps/isaak/app/(workspace)/chat/page.tsx
  apps/isaak/app/(workspace)/components/IsaakChatSection.tsx
  apps/isaak/app/(workspace)/components/IsaakChatSectionHydrated.tsx
  apps/isaak/app/(workspace)/components/IsaakSidebar.tsx
  apps/isaak/app/(workspace)/contactos/page.tsx
  apps/isaak/app/(workspace)/equipo/page.tsx
  apps/isaak/app/(workspace)/gastos/page.tsx
  apps/isaak/app/(workspace)/resumen/page.tsx
  apps/isaak/app/(workspace)/ventas/page.tsx
  apps/isaak/app/auth/page.tsx
Due: eslint --fix --max-warnings=0, prettier --write

feat(isaak): S3 improvements — real KPIs, react-markdown, sidebar refresh
  apps/isaak/app/(workspace)/components/IsaakChatSection.tsx
  apps/isaak/app/(workspace)/components/IsaakChatSectionHydrated.tsx
  apps/isaak/app/(workspace)/components/IsaakMarkdown.tsx
  apps/isaak/app/(workspace)/resumen/components/ResumenChart.tsx
  apps/isaak/app/(workspace)/resumen/page.tsx
  apps/isaak/package.json
  pnpm-lock.yaml
Due: eslint --fix --max-warnings=0, prettier --write

docs(isaak): add master plan S4-S12 — uploads, voice, Google, subscriptions, admin
  docs/product/ISAAK_MASTER_PLAN.md
Due: prettier --write

docs(openai-submission): add holded public landings E2E audit and remediation notes
  docs/openai-submission/HOLDED_PUBLIC_LANDINGS_E2E_AUDIT.md
  docs/openai-submission/HOLDED_PUBLIC_LANDINGS_REMEDIATION_2026-04-30.md
Due: prettier --write

fix(holded-connectors): 4 audit fixes - mailto link, ChatGPT support nav, Claude form colors, connector-specific legal hrefs
  apps/holded/app/components/ConnectorLandingClient.tsx
  apps/holded/app/components/ConnectorSupportForm.tsx
  apps/holded/app/components/ConnectorSupportPage.tsx
  apps/holded/app/support/page.tsx
Due: eslint --fix --max-warnings=0, prettier --write

fix(holded): unify Claude/ChatGPT comm flows and weekly totals + form flow tests
  apps/holded/app/api/admin/weekly-summary/route.test.ts
  apps/holded/app/api/admin/weekly-summary/route.ts
  apps/holded/app/api/communications/contact/route.test.ts
  apps/holded/app/api/communications/lead/route.test.ts
  apps/holded/app/api/demo-requests/route.test.ts
  apps/holded/app/api/holded/connect/route.ts
  apps/holded/app/api/onboarding/profile/route.test.ts
  apps/holded/app/api/support/tickets/route.test.ts
  apps/holded/app/lib/communications/holded-email-templates.ts
  apps/holded/app/lib/communications/holded-governance-emails.ts
  apps/holded/app/lib/holded-governance.ts
  apps/holded/app/lib/holded-navigation.ts
  apps/holded/app/onboarding/holded/OnboardingHoldedClient.tsx
  apps/holded/app/onboarding/holded/page.tsx
  packages/integrations/holded/connection.ts
  packages/integrations/holded/contracts.ts
  packages/integrations/holded/governanceEmailTemplates.ts
Due: eslint --fix --max-warnings=0, prettier --write

test(holded): close connect/disconnect suite and add claude assertions
  apps/holded/app/api/holded/connect/route.test.ts
Due: eslint --fix --max-warnings=0, prettier --write

docs: add connector acquisition funnel strategy plan
  docs/INDEX.md
  docs/product/CONNECTOR_ACQUISITION_FUNNEL_PLAN_2026.md
  docs/product/ISAAK_MASTER_PLAN.md
Due: prettier --write

refactor: phase 0 and 1 of connector acquisition funnel implementation
  apps/holded/app/api/isaak/chat/route.ts
  apps/holded/app/lib/isaak-support-prompt.ts
  apps/isaak/app/lib/settings.ts
Due: eslint --fix --max-warnings=0, prettier --write

refactor: phase 2 quota system refactoring (F2-A and F2-B)
  apps/holded/app/api/isaak/chat/route.ts
  apps/holded/app/lib/isaak-quota.ts
Due: eslint --fix --max-warnings=0, prettier --write

refactor: phase 3 connect real billing data in app dashboard (F3-A)
  apps/app/app/api/settings/billing/route.ts
  apps/app/app/dashboard/settings/page.tsx
  apps/app/app/lib/settings.ts
Due: eslint --fix --max-warnings=0, prettier --write

refactor: phase 4 and 5 - stripe setup and widget cta (F4 and F5-A)
  apps/holded/app/components/IsaakWidget.tsx
  docs/product/PHASE_4_STRIPE_SETUP.md
Due: eslint --fix --max-warnings=0, prettier --write

refactor: tighten connector quota and update direct activation CTA
  apps/holded/app/components/IsaakWidget.tsx
  apps/holded/app/lib/isaak-quota.ts
Due: eslint --fix --max-warnings=0, prettier --write

fix(app): correct prisma alias in app settings module for vercel build
  apps/app/app/lib/settings.ts
Due: eslint --fix --max-warnings=0, prettier --write

copy: align quota limit message with direct activation CTA
  apps/holded/app/lib/isaak-quota.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat(widget): add persistent A/B copy for upgrade CTA
  apps/holded/app/components/IsaakWidget.tsx
Due: eslint --fix --max-warnings=0, prettier --write

feat(isaak/admin): subscription billing UI, trial banner, admin Stripe dashboard
  apps/admin/app/(admin)/integrations/stripe/page.tsx
  apps/admin/app/(admin)/tenants/[id]/billing/page.tsx
  apps/isaak/app/(workspace)/components/TrialBanner.tsx
  apps/isaak/app/(workspace)/layout.tsx
  apps/isaak/app/lib/settings.ts
  apps/isaak/app/settings/IsaakSettingsClient.tsx
Due: eslint --fix --max-warnings=0, prettier --write

feat(isaak): S4-A — Verifactu invoice creation tool in Holded chat
  apps/isaak/app/api/holded/chat/route.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat(isaak): S4-C — Verifactu stats card in /resumen dashboard
  apps/isaak/app/(workspace)/resumen/page.tsx
Due: eslint --fix --max-warnings=0, prettier --write

feat(isaak): S6 — file upload with OCR and Holded expense registration
  apps/isaak/app/(workspace)/components/IsaakChatSection.tsx
  apps/isaak/app/api/holded/chat/route.ts
  apps/isaak/app/api/holded/upload-expense/route.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat(isaak): S7 — voice input (STT) and output (TTS) in Isaak chat
  apps/isaak/app/(workspace)/components/IsaakChatSection.tsx
Due: eslint --fix --max-warnings=0, prettier --write

feat(isaak): S8-A — Google Calendar OAuth + Calendario Fiscal
  apps/isaak/app/(workspace)/calendario/page.tsx
  apps/isaak/app/(workspace)/components/IsaakSidebar.tsx
  apps/isaak/app/api/isaak/google/auth/route.ts
  apps/isaak/app/api/isaak/google/callback/route.ts
  apps/isaak/app/api/isaak/google/disconnect/route.ts
  apps/isaak/app/api/isaak/google/status/route.ts
  apps/isaak/app/api/isaak/google/sync/route.ts
  apps/isaak/app/lib/fiscal-calendar.ts
  apps/isaak/app/lib/google-calendar.ts
  apps/isaak/app/settings/IsaakSettingsClient.tsx
  packages/db/prisma/migrations/20260430100000_add_isaak_google_token/migration.sql
  packages/db/prisma/schema.prisma
Due: eslint --fix --max-warnings=0, prettier --write

security: protect AEAT certs from git + document cert integration config
  apps/api/.env.example
  apps/api/.gitignore
  apps/api/certs/aeat-cert.p12
Due: none

feat(api): add /api/verifactu/check-cert diagnostic endpoint + fix SOAP mTLS WSDL
  apps/api/.env.example
  apps/api/index.js
  apps/api/soap-client.js
Due: eslint --fix --max-warnings=0, prettier --write

feat(api): add AEAT_SOAP_ENDPOINT override for explicit tests/production routing
  apps/api/.env.example
  apps/api/soap-client.js
Due: eslint --fix --max-warnings=0, prettier --write

fix(render): allow holded-mcp docker build without app-level pnpm lockfile
  Dockerfile
Due: none

fix(holded-mcp): resolve Render TypeScript build errors for pg typings
  apps/holded-mcp/package.json
  apps/holded-mcp/src/db.ts
  pnpm-lock.yaml
Due: eslint --fix --max-warnings=0, prettier --write

docs: create canonical legacy documentation folder
  docs/legacy/README.md
Due: prettier --write

docs: add 2026 reorganization legacy staging area
  docs/legacy/2026-reorg/README.md
Due: prettier --write

docs(isaak-platform): Fase 0 — audit, architecture, and API specs
  docs/engineering/isaak-platform/ISAAK_MCP_API_AUDIT_2026.md
  docs/engineering/isaak-platform/ISAAK_MCP_API_IMPLEMENTATION_PLAN_2026.md
  docs/engineering/isaak-platform/ISAAK_MCP_SERVER_SPEC_2026.md
  docs/engineering/isaak-platform/ISAAK_PLATFORM_API_V1_SPEC_2026.md
  docs/engineering/isaak-platform/ISAAK_PLATFORM_INVESTOR_TECH_SUMMARY_2026.md
  docs/engineering/isaak-platform/ISAAK_PLATFORM_SECURITY_MODEL_2026.md
  docs/engineering/isaak-platform/openapi/isaak-platform-api-v1.yaml
Due: prettier --write

feat(api): VeriFactu PDF + SOAP + branding corporativo en factura
  .eslintrc.cjs
  apps/api/index.js
  apps/api/invoice-pdf.js
  apps/api/package.json
  apps/api/soap-client.js
  apps/api/verifactu-xml.js
  apps/api/verifactu-xml.test.js
  docs/engineering/ai/ISAAK_VERIFACTU_INSTRUCCIONES_OPERATIVAS_2026-05-01.md
  docs/product/VERIFACTU_FACTURAS_EMITIDAS_IMPLEMENTATION_2026-05-01.md
  docs/product/examples/factura-ejemplo-verifactu-2026-05-01.pdf
  scripts/generate-sample-invoice-pdf.mjs
  scripts/inspect-wsdl.mjs
  scripts/test-verifactu-register.mjs
Due: eslint --fix --max-warnings=0, prettier --write

feat(isaak): branding corporativo + Ventas mejoradas + PDF por factura
  apps/isaak/app/(workspace)/ventas/IssuedInvoicesPanel.tsx
  apps/isaak/app/(workspace)/ventas/VentasWorkspaceClient.tsx
  apps/isaak/app/(workspace)/ventas/page.tsx
  apps/isaak/app/api/holded/chat/route.ts
  apps/isaak/app/api/settings/company/route.ts
  apps/isaak/app/api/settings/profile/avatar/route.ts
  apps/isaak/app/api/ventas/invoices/[id]/pdf/route.ts
  apps/isaak/app/api/ventas/invoices/issued/route.ts
  apps/isaak/app/lib/export/xlsx.ts
  apps/isaak/app/lib/settings.ts
  apps/isaak/app/settings/IsaakSettingsClient.tsx
  docs/INDEX.md
  docs/product/HOLDED_DIRECT_CONNECTOR_PHASE1_IMPLEMENTATION_PLAN_2026.md
Due: eslint --fix --max-warnings=0, prettier --write

feat(platform): Isaak Platform Fase 1 — capa de servicios compartidos
  apps/app/lib/isaak-platform/actions/confirmationTokens.ts
  apps/app/lib/isaak-platform/api/errors.ts
  apps/app/lib/isaak-platform/api/middleware/requestId.ts
  apps/app/lib/isaak-platform/api/middleware/requireScope.ts
  apps/app/lib/isaak-platform/api/response.ts
  apps/app/lib/isaak-platform/audit/auditLogger.ts
  apps/app/lib/isaak-platform/context.ts
  apps/app/lib/isaak-platform/permissions/checkPermission.ts
  apps/app/lib/isaak-platform/permissions/scopes.ts
  apps/app/lib/isaak-platform/schemas/action.ts
  apps/app/lib/isaak-platform/schemas/company.ts
  apps/app/lib/isaak-platform/schemas/invoice.ts
  apps/app/lib/isaak-platform/services/actionService.ts
  apps/app/lib/isaak-platform/services/auditService.ts
  apps/app/lib/isaak-platform/services/companyService.ts
  apps/app/lib/isaak-platform/services/invoiceService.ts
  apps/app/lib/isaak-platform/services/verifactuService.ts
  packages/db/prisma/migrations/20260501120000_add_isaak_platform/migration.sql
  packages/db/prisma/schema.prisma
  pnpm-lock.yaml
Due: eslint --fix --max-warnings=0, prettier --write

feat(platform): Fase 2 — API v1 REST endpoints
  apps/app/app/api/v1/_context.ts
  apps/app/app/api/v1/audit/events/route.ts
  apps/app/app/api/v1/companies/current/route.ts
  apps/app/app/api/v1/invoices/[id]/issue/route.ts
  apps/app/app/api/v1/invoices/[id]/pdf/route.ts
  apps/app/app/api/v1/invoices/[id]/route.ts
  apps/app/app/api/v1/invoices/[id]/validate/route.ts
  apps/app/app/api/v1/invoices/[id]/verifactu-status/route.ts
  apps/app/app/api/v1/invoices/route.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat(platform): Fase 3 — Isaak MCP Server
  apps/app/app/.well-known/oauth-protected-resource/api/mcp/isaak/route.ts
  apps/app/app/api/mcp/isaak/route.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat(platform): Fase 4 — API keys externas para partners beta
  apps/app/app/api/v1/_context.ts
  apps/app/app/api/v1/keys/[id]/route.ts
  apps/app/app/api/v1/keys/route.ts
  apps/app/lib/isaak-platform/auth/apiKeyAuth.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat(pdf): generador PDF de factura local (pdfkit) + ejemplo VeriFactu
  apps/app/app/api/v1/invoices/[id]/pdf/route.ts
  apps/app/lib/isaak-platform/pdf/invoicePdfBuilder.ts
  apps/app/package.json
  docs/examples/factura-ejemplo-verifactu.pdf
  pnpm-lock.yaml
  scripts/generate-example-invoice-pdf.mjs
Due: eslint --fix --max-warnings=0, prettier --write

feat(pdf): add QR VeriFactu auto-generated (URL verificacion AEAT)
  apps/app/lib/isaak-platform/pdf/invoicePdfBuilder.ts
  apps/app/package.json
  docs/examples/factura-ejemplo-verifactu-v2.pdf
  pnpm-lock.yaml
  scripts/generate-example-invoice-pdf.mjs
Due: eslint --fix --max-warnings=0, prettier --write

feat: Fase 5 — public developer portal
  apps/landing/app/developers/page.tsx
  apps/landing/app/lib/home/ui.tsx
  apps/landing/app/sitemap.ts
Due: eslint --fix --max-warnings=0, prettier --write

Path conditions:
  eslint --fix --max-warnings=0: any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,md,yaml,yml})
