Repository kiabusiness2025/verifactu-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": [
    "eslint --fix --max-warnings=0",
    "prettier --write"
  ],
  "*.{json,md,yaml,yml}": [
    "prettier --write"
  ]
}

fix(app): remove Table base component imports - add Alert/Avatar placeholders
  apps/app/app/(admin)/(ui-elements)/alerts/page.tsx
  apps/app/app/(admin)/(ui-elements)/avatars/page.tsx
  apps/app/components/ecommerce/RecentOrders.tsx
  apps/app/components/invoices/InvoiceQR.tsx
  apps/app/components/tables/BasicTableOne.tsx
  apps/app/lib/tenants.ts
Due: eslint --fix --max-warnings=0, prettier --write

fix(landing): update hero copy and isaak emojis
  apps/landing/app/lib/home/ui.tsx
  apps/landing/app/page.tsx
Due: eslint --fix --max-warnings=0, prettier --write

fix(admin): restore ui card/table and auth helper
  apps/admin/app/operations/emails/[id]/page.tsx
  apps/admin/app/operations/emails/page.tsx
  apps/admin/app/operations/page.tsx
  apps/admin/app/operations/webhooks/[id]/page.tsx
  apps/admin/app/operations/webhooks/page.tsx
  apps/admin/app/users/[id]/page.tsx
  apps/admin/lib/auth.ts
  packages/ui/components/Card.tsx
  packages/ui/components/Table.tsx
Due: eslint --fix --max-warnings=0, prettier --write

fix(admin): repair emails detail page render
  apps/admin/app/operations/emails/[id]/page.tsx
Due: eslint --fix --max-warnings=0, prettier --write

chore: bump pnpm version for vercel
  package.json
Due: prettier --write

chore(vercel): pin pnpm via corepack
  vercel.json
Due: prettier --write

chore(vercel): align pnpm with lockfile
  package.json
  vercel.json
Due: prettier --write

chore(pnpm): regenerate lockfile with pnpm 9
  pnpm-lock.yaml
Due: prettier --write

chore(pnpm): use node-fetch in pnpm
  .npmrc
Due: none

chore(vercel): force pnpm use-node-fetch
  vercel.json
Due: prettier --write

chore(vercel): drop pnpm config set
  vercel.json
Due: prettier --write

chore(vercel): force pnpm via npx
  vercel.json
Due: prettier --write

chore(vercel): skip prisma autoinstall
  vercel.json
Due: prettier --write

chore(vercel): use isolated node linker
  vercel.json
Due: prettier --write

fix(app): align badge variants with ui
  apps/app/app/(admin)/(ui-elements)/badge/page.tsx
Due: eslint --fix --max-warnings=0, prettier --write

fix(app): remove unsupported button icon props
  apps/app/app/(admin)/(ui-elements)/buttons/page.tsx
Due: eslint --fix --max-warnings=0, prettier --write

fix(app): replace outline button variant
  apps/app/app/(admin)/(ui-elements)/buttons/page.tsx
Due: eslint --fix --max-warnings=0, prettier --write

fix(app): type memberships map
  apps/app/app/api/app/me/route.ts
Due: eslint --fix --max-warnings=0, prettier --write

fix(app): align stripe apiVersion
  apps/app/app/api/webhooks/stripe/route.ts
Due: eslint --fix --max-warnings=0, prettier --write

fix(app): remove modal className prop
  apps/app/components/calendar/Calendar.tsx
Due: eslint --fix --max-warnings=0, prettier --write

fix(app): pass modal title
  apps/app/components/calendar/Calendar.tsx
Due: eslint --fix --max-warnings=0, prettier --write

feat(ui): add dropdown component
  packages/ui/components/Dropdown.tsx
  packages/ui/index.ts
  packages/ui/index.tsx
Due: eslint --fix --max-warnings=0, prettier --write

fix(app): use badge variant props
  apps/app/components/ecommerce/EcommerceMetrics.tsx
Due: eslint --fix --max-warnings=0, prettier --write

fix(app): remove dropdown tag prop
  apps/app/components/ecommerce/MonthlyTarget.tsx
Due: eslint --fix --max-warnings=0, prettier --write

feat: add Vercel deployment checks integration
  .github/workflows/auto-fix-and-deploy.yml
  .github/workflows/check-and-fix.yml
  docs/VERCEL_DEPLOYMENT_CHECKS.md
  scripts/configure-vercel-checks.js
Due: eslint --fix --max-warnings=0, prettier --write

fix(ui): remove unsupported props and variants
  apps/admin/app/operations/emails/[id]/page.tsx
  apps/admin/app/operations/emails/page.tsx
  apps/admin/app/operations/page.tsx
  apps/admin/app/operations/webhooks/[id]/page.tsx
  apps/admin/app/operations/webhooks/page.tsx
  apps/admin/app/users/[id]/page.tsx
  apps/app/components/ecommerce/RecentOrders.tsx
  apps/app/components/header/UserDropdown.tsx
  apps/app/components/tables/BasicTableOne.tsx
Due: eslint --fix --max-warnings=0, prettier --write

fix(ci): match pnpm version with package.json (9.15.4)
  .github/workflows/check-and-fix.yml
Due: prettier --write

fix(app): remove NextResponse.next() from route handler - NextResponse.next() only works in middleware
  apps/app/app/(root)/[...catchall]/route.ts
Due: eslint --fix --max-warnings=0, prettier --write

fix(ui): add className prop to Modal component
  packages/ui/types.ts
Due: eslint --fix --max-warnings=0, prettier --write

fix(app): change Button variant from 'outline' to 'secondary'
  apps/app/components/example/ModalExample/DefaultModal.tsx
Due: eslint --fix --max-warnings=0, prettier --write

fix(app): replace all variant='outline' with 'secondary'
  .github/workflows/auto-fix-and-deploy.yml
  .github/workflows/auto-fix.yml
  .github/workflows/build-admin.yml
  .github/workflows/check-and-fix.yml
  .github/workflows/ci-cd.yml
  .github/workflows/deploy.yml
  .github/workflows/pre-deployment-check.yml
  .github/workflows/typecheck.yml
  DEPLOYMENT_GUIDE.md
  VERCEL_SCENARIO_A_SETUP.md
  apps/app/app/(root)/[...catchall]/route.ts
  apps/app/components/example/ModalExample/FormInModal.tsx
  apps/app/components/example/ModalExample/FullScreenModal.tsx
  apps/app/components/example/ModalExample/VerticallyCenteredModal.tsx
  apps/app/components/onboarding/OnboardingTour.tsx
  apps/app/components/user-profile/UserAddressCard.tsx
  apps/app/components/user-profile/UserInfoCard.tsx
  apps/app/components/user-profile/UserMetaCard.tsx
  apps/landing/app/api/dashboard-redirect/route.ts
  docs/VERCEL_DEPLOYMENT_CHECKS.md
  packages/ui/components/Modal.tsx
  packages/ui/components/dialog.tsx
  packages/ui/components/select.tsx
  packages/ui/package.json
  scripts/configure-vercel-checks.js
Due: eslint --fix --max-warnings=0, prettier --write

fix(build): specify Prisma schema path and correct Vercel build directory
  apps/app/package.json
  vercel.json
Due: prettier --write

fix(vercel): use pnpm workspaces filter for build
  vercel.json
Due: prettier --write

fix(vercel): specify pnpm version 9.15.4 explicitly
  vercel.json
Due: prettier --write

fix(vercel): configure for monorepo with root directory
  apps/app/vercel.json
  vercel.json
Due: prettier --write

fix(vercel): disable Prisma auto-install during build
  apps/app/vercel.json
Due: prettier --write

fix(vercel): remove PRISMA_GENERATE_SKIP_AUTOINSTALL
  apps/app/vercel.json
Due: prettier --write

fix(vercel): skip Prisma auto-install during pnpm install
  apps/app/vercel.json
Due: prettier --write

fix(vercel): use --ignore-scripts and manual Prisma generation
  apps/app/vercel.json
Due: prettier --write
