Repository kiabusiness2025/verifactu-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, prettier --write

chore(isaak): launch V1 scoped experience
  apps/isaak/app/(workspace)/bienvenida/page.tsx
  apps/isaak/app/(workspace)/components/IsaakSidebar.tsx
  apps/isaak/app/(workspace)/integrations/IntegrationsV1Client.tsx
  apps/isaak/app/(workspace)/settings/IsaakSettingsClient.tsx
  apps/isaak/middleware.ts
  docs/engineering/ISAAK_MASTER_PLAN.md
  docs/product/ISAAK_LAUNCH_V1_2026-05-28.md
Due: eslint --fix --max-warnings=0, prettier --write

test(isaak): verify AEAT fiscal prompt coverage
  apps/isaak/app/lib/__tests__/isaak-chat-prompts.test.ts
  apps/isaak/app/lib/isaak-chat-prompts.ts
  docs/product/ISAAK_LAUNCH_V1_2026-05-28.md
Due: eslint --fix --max-warnings=0, prettier --write

feat(isaak): align V1 summary cards
  apps/isaak/app/(workspace)/resumen/page.tsx
  docs/product/ISAAK_LAUNCH_V1_2026-05-28.md
Due: eslint --fix --max-warnings=0, prettier --write

feat(isaak): complete Holded V1 tool set
  apps/isaak/app/api/holded/chat/route.ts
  apps/isaak/app/lib/__tests__/isaak-tools-registry.test.ts
  apps/isaak/app/lib/holded-tools.ts
  apps/isaak/app/lib/isaak-tools-registry.ts
  docs/product/ISAAK_LAUNCH_V1_2026-05-28.md
Due: eslint --fix --max-warnings=0, prettier --write

fix(app): align Vercel monorepo build
  .husky/pre-commit
  apps/app/vercel.json
  apps/landing/__tests__/magic-link.test.ts
Due: eslint --fix --max-warnings=0, prettier --write

chore(deploy): update Vercel deploy hooks
  package.json
Due: prettier --write

chore(deploy): refresh Isaak and landing hooks
  package.json
Due: prettier --write

fix(auth): align Isaak login Firebase config
  apps/landing/.env.example
  apps/landing/__tests__/auth-session.test.ts
  apps/landing/__tests__/magic-link.test.ts
  apps/landing/app/api/auth/magic-link/route.ts
  apps/landing/app/api/auth/session/route.ts
  apps/landing/app/lib/auth.ts
  apps/landing/app/lib/firebase.ts
Due: eslint --fix --max-warnings=0, prettier --write

fix(mcp/app): restaura V3.G.11+12 perdido en post-merge (drafts 0€)
  apps/app/lib/integrations/holdedMcpTools.ts
Due: eslint --fix --max-warnings=0, prettier --write

diag(mcp/app): logging granular del wire body create_invoice_draft (V3.G.13)
  apps/app/lib/integrations/holdedMcpTools.ts
Due: eslint --fix --max-warnings=0, prettier --write

fix(mcp): workaround Holded quirk approveDoc:false descarta líneas (V3.G.14)
  apps/app/lib/integrations/holdedMcpTools.ts
  apps/holded-mcp/src/holded-client.ts
  apps/holded-mcp/src/tools/invoicing.ts
Due: eslint --fix --max-warnings=0, prettier --write

fix(mcp): V3.G.15 — PUT con `products` (no `lines`) + body completo
  apps/app/lib/integrations/holdedMcpTools.ts
  apps/holded-mcp/src/tools/invoicing.ts
Due: eslint --fix --max-warnings=0, prettier --write

fix(mcp): V3.G.16 — POST con products + lines (Holded convierte lines→products durante aprobación)
  apps/holded-mcp/src/tools/invoicing.ts
Due: eslint --fix --max-warnings=0, prettier --write

fix(mcp): V3.G.17 — REVERT a items, V3.G.10 fue mal-diagnóstico
  apps/app/lib/integrations/holdedMcpTools.ts
  apps/holded-mcp/src/tools/invoicing.ts
Due: eslint --fix --max-warnings=0, prettier --write

docs(connectors): V3.G.17 + 3 quirks Holded API descubiertos 2026-06-03
  docs/engineering/connectors/CHANGELOG.md
  docs/engineering/connectors/HOLDED_API_QUIRKS.md
Due: prettier --write

fix(mcp): V3.G.18 — defensa server-side contra consent UI mismatch + nota submission
  apps/app/app/api/mcp/holded/route.ts
  apps/app/lib/integrations/holdedMcpTools.ts
  apps/holded-mcp/src/tools/invoicing.ts
  docs/openai-submission/OPENAI_FORM_COPY_PASTE.md
Due: eslint --fix --max-warnings=0, prettier --write

fix(app): add /api/auth/accept cross-domain session handoff
  apps/app/app/api/auth/accept/route.ts
Due: eslint --fix --max-warnings=0, prettier --write

fix(isaak): dominio canónico isaak.app + fix TS merge landing
  .husky/pre-commit
  apps/app/app/api/mcp/holded/route.test.ts
  apps/app/app/api/mcp/holded/route.ts
  apps/holded/app/api/auth/otp/verify/route.test.ts
  apps/holded/app/api/holded/customers/route.test.ts
  apps/holded/app/api/holded/purchases/[id]/route.test.ts
  apps/holded/app/api/holded/purchases/route.test.ts
  apps/holded/app/auth/holded-claude/success/page.tsx
  apps/holded/app/auth/holded-direct/success/SuccessActions.tsx
  apps/holded/app/auth/holded-direct/success/page.tsx
  apps/isaak/app/lib/isaak-navigation.ts
  apps/isaak/middleware.ts
  apps/landing/app/api/auth/magic-link/route.ts
  apps/landing/app/auth/forgot-password/page.tsx
  apps/landing/app/auth/holded/page.tsx
  apps/landing/app/auth/isaak/page.tsx
  apps/landing/app/auth/login/page.tsx
  apps/landing/app/auth/signup/page.tsx
  apps/landing/app/components/AuthComponents.tsx
  apps/landing/app/components/AuthOAuthButtons.tsx
  apps/landing/app/lib/auth.ts
  apps/landing/app/lib/emailTemplates.ts
  apps/landing/app/lib/firebase.ts
  docs/engineering/ISAAK_MASTER_PLAN.md
  docs/product/ISAAK_MASTER_PLAN.md
  package.json
  turbo.json
Due: eslint --fix --max-warnings=0, prettier --write

fix(isaak): workspace accesible para usuarios sin tenant (modo free)
  apps/isaak/app/(workspace)/layout.tsx
  apps/isaak/app/lib/holded-session.ts
Due: eslint --fix --max-warnings=0, prettier --write

fix(landing): corrige dominio legacy en Hub V1
  apps/landing/app/components/LandingPublicHubV1.tsx
Due: eslint --fix --max-warnings=0, prettier --write

fix(landing): elimina doble mintSessionCookie en login Google/Microsoft
  apps/landing/app/auth/isaak/page.tsx
  apps/landing/app/lib/auth.ts
Due: eslint --fix --max-warnings=0, prettier --write

fix(landing): elimina useEffect auto-redirect que bloqueaba login Google
  apps/landing/app/auth/isaak/page.tsx
Due: eslint --fix --max-warnings=0, prettier --write

docs(plan-h): Isaak-MCP + multi-ERP abstraction + admin panel
  docs/engineering/ISAAK_MASTER_PLAN.md
  docs/isaak/CAPABILITY_MATRIX.md
  docs/isaak/REFACTOR_PLAN.md
  docs/isaak/SECTORS.md
Due: prettier --write

docs(plan-h): downgrade WhatsApp OCR + sectorales segun feedback Codex
  docs/isaak/CAPABILITY_MATRIX.md
  docs/isaak/SECTORS.md
Due: prettier --write

fix(ci): lint let->const + holded-mcp test al estado V3.G.17
  apps/app/lib/integrations/holdedMcpTools.ts
  apps/holded-mcp/test/create-invoice-draft.test.ts
Due: eslint --fix --max-warnings=0, prettier --write

chore(apps/app): eliminar schema Prisma duplicado legacy
  apps/app/prisma/schema.prisma
Due: none

fix(ci): workflow auto-fix-and-deploy usa schema unificado packages/db
  .github/workflows/auto-fix-and-deploy.yml
Due: prettier --write

fix(landing): mueve isLoading al post-selección Google
  apps/landing/app/auth/isaak/page.tsx
Due: eslint --fix --max-warnings=0, prettier --write

fix(isaak/demo): importa DEMO_COMPANY_NAME desde isaak-demo-constants
  apps/isaak/app/demo/page.tsx
Due: eslint --fix --max-warnings=0, prettier --write

feat(isaak): foto de perfil Google en sidebar + opción de cambio
  apps/isaak/app/(workspace)/components/IsaakSidebar.tsx
  apps/isaak/app/(workspace)/layout.tsx
  apps/isaak/app/lib/holded-session.ts
  apps/landing/app/api/auth/session/route.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat(isaak): animacion IsaakConnecting + docs dominios actualizados
  apps/isaak/app/(workspace)/integrations/IntegrationsClient.tsx
  apps/isaak/app/(workspace)/integrations/IntegrationsV1Client.tsx
  apps/isaak/app/components/IsaakConnecting.tsx
  docs/product/ISAAK_CONNECTING_ANIMATION.md
  docs/product/ISAAK_LAUNCH_V1_2026-05-28.md
  docs/product/ISAAK_V1_SPRINT_PLAN_2026-06-02.md
Due: eslint --fix --max-warnings=0, prettier --write

chore(env): update domains to isaak.chat and activate V1 launch flag
  apps/isaak/.env.example
Due: none

security: fix 8 vulnerabilities found in audit
  apps/isaak/app/(workspace)/fiscal/modelos/page.tsx
  apps/isaak/app/api/chat/route.ts
  apps/isaak/app/api/isaak/admin/metrics/route.ts
  apps/isaak/app/api/isaak/modelos/303/veto/route.ts
  apps/isaak/app/api/isaak/ocr/invoice/route.ts
  apps/isaak/app/api/isaak/templates/[id]/route.ts
  apps/isaak/app/api/telegram/webhook/route.ts
Due: eslint --fix --max-warnings=0, prettier --write

security: second audit pass — 7 more vulnerabilities fixed
  apps/isaak/app/api/isaak/banking/eb/connect/route.ts
  apps/isaak/app/api/isaak/banking/gcbd/connect/route.ts
  apps/isaak/app/api/isaak/banking/mandate-setup/route.ts
  apps/isaak/app/api/isaak/banking/saltedge/connect/route.ts
  apps/isaak/app/api/isaak/templates/route.ts
  apps/isaak/app/api/isaak/webhooks/endpoints/route.ts
  apps/isaak/app/api/whatsapp/webhook/route.ts
  apps/isaak/app/lib/isaak-webhook-emitter.ts
Due: eslint --fix --max-warnings=0, prettier --write

security: third-pass fixes -- SSRF avatar, prompt injection, err.message (14 files)
  apps/isaak/app/api/isaak/audit/route.ts
  apps/isaak/app/api/isaak/banking/eb/aspsps/route.ts
  apps/isaak/app/api/isaak/banking/eb/connect/route.ts
  apps/isaak/app/api/isaak/banking/gcbd/connect/route.ts
  apps/isaak/app/api/isaak/banking/gcbd/institutions/route.ts
  apps/isaak/app/api/isaak/banking/mandate-setup/route.ts
  apps/isaak/app/api/isaak/banking/saltedge/connect/route.ts
  apps/isaak/app/api/isaak/export/excel/route.ts
  apps/isaak/app/api/isaak/export/pdf/route.ts
  apps/isaak/app/api/isaak/export/word/route.ts
  apps/isaak/app/api/isaak/gmail/scan/route.ts
  apps/isaak/app/api/isaak/sede/sync/route.ts
  apps/isaak/app/api/settings/profile/avatar/route.ts
  apps/isaak/app/lib/isaak-custom-instructions.ts
Due: eslint --fix --max-warnings=0, prettier --write

Path conditions:
  eslint --fix --max-warnings=0: any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,md,yaml,yml})
