Repository kiabusiness2025/verifactu-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, prettier --write

docs: document current /demo flow and update vercel deploy notes
  docs/DEMO_FLOW.md
  docs/INDEX.md
  docs/ops/deployment/DEPLOY_VERCEL.md
Due: prettier --write

docs: add demo QA checklist for post-deploy validation
  docs/DEMO_FLOW.md
  docs/DEMO_QA_CHECKLIST.md
  docs/INDEX.md
Due: prettier --write

fix(auth): add session secret fallback and remember-device for admin
  apps/admin/.env.example
  apps/admin/app/api/auth/[...nextauth]/route.ts
  apps/admin/app/auth/signin/page.tsx
  apps/admin/lib/auth-options.ts
  apps/api/index.js
  apps/app/.env.example
  apps/app/app/api/invitations/accept/route.ts
  apps/app/app/api/user/profile/route.ts
  apps/app/app/api/user/upload-photo/route.ts
  apps/app/lib/session.ts
  apps/app/middleware.ts
  apps/landing/.env.example
  packages/utils/session.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat(landing): update plans section and overage simulator
  apps/landing/app/components/PricingCalculatorInline.tsx
  apps/landing/app/lib/home/ui.tsx
  apps/landing/app/lib/plans.ts
  apps/landing/app/page.tsx
  apps/landing/app/planes/_shared.tsx
  apps/landing/app/planes/basico/page.tsx
  apps/landing/app/planes/empresa/page.tsx
  apps/landing/app/planes/page.tsx
  apps/landing/app/planes/pro/page.tsx
  apps/landing/app/planes/pyme/page.tsx
  apps/landing/app/verifactu/planes/page.tsx
Due: eslint --fix --max-warnings=0, prettier --write

chore: add encoding predeploy check and normalize pnpm store
  apps/app/app/api/auth/sync-user/route.ts
  pnpm-workspace.yaml
  scripts/check-text-encoding.js
  scripts/pre-deploy-check.js
Due: eslint --fix --max-warnings=0, prettier --write

feat(landing): make Isaak live demo tone selector interactive
  apps/landing/app/lib/home/ui.tsx
Due: eslint --fix --max-warnings=0, prettier --write

fix(landing): update Isaak content and avoid pnpm EXDEV on Vercel
  apps/landing/app/components/Faq.tsx
  apps/landing/app/lib/home/ui.tsx
  apps/landing/app/que-es-isaak/page.tsx
  pnpm-workspace.yaml
Due: eslint --fix --max-warnings=0, prettier --write

feat(landing): switch CTAs to calcular precio and add full calculator modal
  apps/landing/README_CALCULADORA.md
  apps/landing/app/api/checkout/route.ts
  apps/landing/app/components/Faq.tsx
  apps/landing/app/components/Header.tsx
  apps/landing/app/components/PricingCalculatorInline.tsx
  apps/landing/app/components/PricingCalculatorInlineModal.tsx
  apps/landing/app/legal/terminos/page.tsx
  apps/landing/app/lib/home/ui.tsx
  apps/landing/app/page.tsx
  apps/landing/app/politica-de-precios/page.tsx
  apps/landing/app/producto/plataforma/page.tsx
  apps/landing/app/producto/resumen/page.tsx
  apps/landing/app/recursos/blog/page.tsx
  apps/landing/app/recursos/checklist/page.tsx
  apps/landing/app/recursos/contacto/page.tsx
  apps/landing/app/recursos/guias-y-webinars/page.tsx
  apps/landing/app/verifactu/estado/page.tsx
Due: eslint --fix --max-warnings=0, prettier --write

fix(landing): add isaak anchor in nav and simplify calculator modal breakdown
  apps/landing/app/components/PricingCalculatorInline.tsx
  apps/landing/app/components/PricingCalculatorInlineModal.tsx
  apps/landing/app/page.tsx
Due: eslint --fix --max-warnings=0, prettier --write

fix(api): force pnpm install on vercel and pin node 20
  apps/api/.nvmrc
  apps/api/package-lock.json
  apps/api/package.json
  apps/api/vercel.json
Due: prettier --write

fix(landing): align pricing/copy, gate GTM by consent, and improve CTA/SEO consistency
  apps/landing/app/components/CookieBanner.tsx
  apps/landing/app/components/Faq.tsx
  apps/landing/app/components/PricingCalculator.tsx
  apps/landing/app/demo/page.tsx
  apps/landing/app/legal/terminos/page.tsx
  apps/landing/app/lib/home/data.ts
  apps/landing/app/lib/home/ui.tsx
  apps/landing/app/page.tsx
  apps/landing/app/planes/_shared.tsx
  apps/landing/app/planes/page.tsx
  apps/landing/app/que-es-isaak/page.tsx
  apps/landing/app/recursos/blog/page.tsx
  apps/landing/app/recursos/checklist/page.tsx
  apps/landing/app/recursos/guias-y-webinars/page.tsx
  apps/landing/app/sitemap.ts
  apps/landing/app/verifactu/estado/page.tsx
  apps/landing/app/verifactu/page.tsx
  apps/landing/app/verifactu/que-es/page.tsx
  apps/landing/app/verifactu/soporte/page.tsx
  apps/landing/components/GoogleTagManager.tsx
Due: eslint --fix --max-warnings=0, prettier --write

fix(api): remove invalid vercel function runtime config
  apps/api/vercel.json
Due: prettier --write

fix(api): add vercel api function entrypoint and rewrite
  apps/api/api/index.js
  apps/api/vercel.json
Due: eslint --fix --max-warnings=0, prettier --write

fix(api): add outputDirectory public for vercel build
  apps/api/public/index.html
  apps/api/vercel.json
Due: prettier --write

chore(devx): run lint-staged tools via pnpm exec
  .lintstagedrc.json
Due: prettier --write

fix(landing): unify checkout GET with landing plans
  apps/landing/app/api/checkout/route.ts
Due: eslint --fix --max-warnings=0, prettier --write

fix(app): prevent null company/nif crashes in dashboard
  apps/app/app/dashboard/DashboardClientLayout.tsx
  apps/app/app/dashboard/clients/page.tsx
Due: eslint --fix --max-warnings=0, prettier --write

fix(app): harden Intl formatter options for SSR
  apps/app/src/lib/formatters.ts
Due: eslint --fix --max-warnings=0, prettier --write

fix(app): force dynamic dashboard layout rendering
  apps/app/app/dashboard/layout.tsx
Due: eslint --fix --max-warnings=0, prettier --write

fix(app): use demo seed metrics in dashboard summary when demo mode is active
  apps/app/src/server/dashboard/getDashboardSummary.ts
Due: eslint --fix --max-warnings=0, prettier --write

fix(app): make dashboard empty-state real without demo placeholders
  apps/app/app/dashboard/page.tsx
  apps/app/src/server/dashboard/getDashboardSummary.ts
Due: eslint --fix --max-warnings=0, prettier --write

fix(app): redirect unauth /dashboard to demo
  apps/app/middleware.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat(app): align dashboard UI with updated demo design
  apps/app/app/dashboard/page.tsx
Due: eslint --fix --max-warnings=0, prettier --write

fix(app): improve tenant selector and onboarding search flow
  apps/app/app/api/onboarding/einforma/company/route.ts
  apps/app/app/api/onboarding/einforma/search/route.ts
  apps/app/app/api/onboarding/status/route.ts
  apps/app/app/api/onboarding/tenant/route.ts
  apps/app/app/dashboard/onboarding/page.tsx
  apps/app/app/dashboard/page.tsx
  apps/app/app/dashboard/settings/page.tsx
  apps/app/app/demo/page.tsx
  apps/app/components/companies/EInformaSearch.tsx
  apps/app/components/customers/CustomersForm.tsx
  apps/app/components/layout/Topbar.tsx
  apps/app/components/suppliers/SuppliersForm.tsx
  apps/app/src/components/einforma/EinformaAutofillButton.tsx
  apps/app/src/server/dashboard/getDashboardSummary.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat(landing): refresh hero mockups with current demo dashboard screenshots
  apps/landing/app/lib/home/ui.tsx
  apps/landing/public/assets/hero/demo-invoices.png
  apps/landing/public/assets/hero/demo-isaak.png
  apps/landing/public/assets/hero/demo-overview.png
  apps/landing/public/assets/hero/generated/demo-invoices.png
  apps/landing/public/assets/hero/generated/demo-isaak.png
  apps/landing/public/assets/hero/generated/demo-overview.png
Due: eslint --fix --max-warnings=0, prettier --write

fix: run lint-staged via pnpm exec in husky pre-commit
  .husky/pre-commit
Due: none

chore: run lint-staged for any staged files in pre-commit
  .husky/pre-commit
Due: none

fix(app): repair dashboard proactive hook syntax and isaak detection context
  apps/app/hooks/useIsaakDetection.ts
  apps/app/hooks/useProactiveMessages.ts
Due: eslint --fix --max-warnings=0, prettier --write

refactor(app): remove any in P0/P1 api routes and webhooks
  apps/app/app/api/articles/route.ts
  apps/app/app/api/auth/sync-user/route.ts
  apps/app/app/api/chat/route.ts
  apps/app/app/api/customers/route.ts
  apps/app/app/api/dashboard/export/route.ts
  apps/app/app/api/integrations/accounting/conflicts/[id]/resolve/route.ts
  apps/app/app/api/invitations/accept/route.ts
  apps/app/app/api/invoices/route.ts
  apps/app/app/api/monitor/error/route.ts
  apps/app/app/api/storage/upload/route.ts
  apps/app/app/api/suppliers/route.ts
  apps/app/app/api/test/emails/route.ts
  apps/app/app/api/user/preferences/route.ts
  apps/app/app/api/user/profile/route.ts
  apps/app/app/api/webhooks/aeat/route.ts
  apps/app/app/api/webhooks/resend/inbound/route.ts
  apps/app/app/api/webhooks/resend/route.ts
  apps/app/app/api/webhooks/stripe/route.ts
  apps/app/lib/adminApi.ts
  apps/app/lib/quotes/repo.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat(invoices): validate and normalize line totals with cents
  apps/app/app/api/invoices/route.ts
  apps/app/lib/billing/invoice-line-normalization.test.ts
  apps/app/lib/billing/invoice-line-normalization.ts
Due: eslint --fix --max-warnings=0, prettier --write

fix(app): include accounting integration libs used by api routes
  apps/app/lib/billing/tenantPlan.ts
  apps/app/lib/integrations/accounting.ts
  apps/app/lib/integrations/accountingStore.ts
  apps/app/lib/integrations/syncHash.ts
Due: eslint --fix --max-warnings=0, prettier --write

fix(app): return Uint8Array for invoice pdf response
  apps/app/app/api/invoices/[id]/pdf/route.ts
Due: eslint --fix --max-warnings=0, prettier --write

fix(app): return Uint8Array for AEAT xlsx response
  apps/app/lib/aeat/response.ts
Due: eslint --fix --max-warnings=0, prettier --write

refactor(app): harden hooks and persistent endpoints typing
  apps/app/app/api/isaak/conversations/[id]/share/route.ts
  apps/app/app/api/tenant/logo/route.ts
  apps/app/hooks/useDeadlineNotifications.ts
  apps/app/lib/hooks/useIsaakChat.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat(app): refresh dashboards and harden onboarding einforma flow
  apps/app/app/api/onboarding/einforma/company/route.ts
  apps/app/app/api/onboarding/einforma/search/route.ts
  apps/app/app/dashboard/admin-dashboard/page.tsx
  apps/app/app/dashboard/onboarding/page.tsx
  apps/app/app/dashboard/page.tsx
  apps/app/app/dashboard/sales/page.tsx
Due: eslint --fix --max-warnings=0, prettier --write

fix(onboarding): enforce einforma cache-first lookup and add smoke script
  apps/app/app/api/onboarding/einforma/company/route.ts
  scripts/smoke-onboarding-einforma.sh
Due: eslint --fix --max-warnings=0, prettier --write

feat(onboarding): redesign company panel and expose einforma cache/live source
  apps/app/app/api/onboarding/einforma/company/route.ts
  apps/app/app/api/onboarding/einforma/search/route.ts
  apps/app/app/dashboard/onboarding/page.tsx
  apps/app/components/companies/EInformaSearch.tsx
Due: eslint --fix --max-warnings=0, prettier --write

feat(onboarding): add credit-protection indicator and cache/live counters
  apps/app/app/dashboard/onboarding/page.tsx
Due: eslint --fix --max-warnings=0, prettier --write

fix(dashboard): guard against orphan memberships in tenant resolution
  apps/app/src/server/dashboard/getDashboardSummary.ts
  apps/app/src/server/tenant/resolveActiveTenant.ts
Due: eslint --fix --max-warnings=0, prettier --write

Path conditions:
  eslint --fix --max-warnings=0: any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,md,yaml,yml})
